<% @notes.each do |note| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 notes_col">
        <% if note.image.url.present? %>
          <%= link_to(note_path(note.slug), { remote: true, title: note.title }) do %>
            <figure class="image-containermyprofile">
              <div class="image-containermyprofile">
                <%= image_tag note.image.url(:thumb), style: 'width: 100%;' %>
                <div class="hover-overlay">
                  <div class="overlay-content" style="margin-bottom: -17%;">
                    <p id="truncate-title" class="truncate">
                      <%= note.title %>
                    </p>
                    <p id="truncate-name" class="truncate" style="font-size: 12px;">
                      <%= link_to "#{note.user.first_name} #{note.user.last_name}", user_path(note.user), style: 'color: inherit; text-decoration: none;' %>
                    </p>
                  </div>
                  <div class="icons" style="display: flex; justify-content: flex-end;">
                    <span style="display: flex; gap: 4px;">
                      <% if user_signed_in? %>
                        <% unless current_user.favorited_notes.exists?(id: note.id) %>
                          <span id='favorites-count-<%= note.id %>'>
                            <%= link_to fa_icon('heart'), favorite_notes_path(note_id: note), remote: true, class: 'grey_love love_iconss', method: :post, style: 'color: red !important;' %>
                          </span>
                        <% else %>
                          <span id='favorites-count-<%= note.id %>'>
                            <%= link_to fa_icon('heart'), favorite_note_path(note), remote: true, class: 'orange_love love_iconss', method: :delete %>
                          </span>
                        <% end %>
                        <span id='add-to-folder-<%= note.id %>' style="display: flex; justify-content: center; align-items: center;  margin-left: 5%;">
                          <%= link_to "/notes/add_note_to_folder?note_id=#{note.id}", remote: true, method: :get do %>
                            <%= image_tag 'folder-add.png', style: 'width: 38px; height: 35px; background-color: #BC171D; border-radius: 50%; margin-bottom: 18%;' %>
                          <% end %>
                        </span>
                      <% else %>
                        <span id='add-to-folder-<%= note.id %>'>
                          <%= link_to new_user_path do %>
                            <span id='favorites-count-<%= note.id %>'>
                              <%= link_to fa_icon('heart'), favorite_notes_path(note_id: note), remote: true, class: 'grey_love love_iconss', method: :post %>
                            </span>
                          <% end %>
                        </span>
                        <span id='add-to-folder-<%= note.id %>' style="display: flex; justify-content: center; align-items: center;  margin-left: 5%;">
                          <%= link_to "/notes/add_note_to_folder?note_id=#{note.id}", remote: true, method: :get do %>
                            <%= image_tag 'folder-add.png', style: 'width: 38px; height: 35px;background-color: #BC171D; border-radius: 50%; margin-bottom: 18%;' %>
                          <% end %>
                        </span>
                      <% end %>
                    </span>
                  </div>
                </div>
                
            </figure>
          <% end %>
        <% else %>
          <p>No image available</p>
        <% end %>
      </div>
    <% end %>
