<% if (user_signed_in?) %>
  <% if @user == current_user %>
    <% about_me = current_user.about_me.empty? rescue nil %>
    <% nationality = current_user.nationality.empty? rescue nil %>

    <% if (user_signed_in? && (nationality || current_user.nationality.nil?)) || (user_signed_in? && (about_me || current_user.about_me.nil?)) || (user_signed_in?&& current_user.avatar.file.nil?) %>
      <%= render './modals/nationality_modal' %>
      <script>
          $(window).on('load', function () {
              $('#nationalityModal').modal('show');
          })
      </script>
    <% elsif (user_signed_in? && current_user.follow_status == false) %>
      <%= render './modals/follow_modal' %>
      <script>
          $(window).on('load', function () {
              $('#followModal').modal('show');
          })
      </script>
    <% end %>
    <%= render './partials/user_dashboard' %>

  <% else %>
    <%= render './partials/other_user_dashboard' %>
  <% end %>
<% end %>
<div id='note-content'></div>
<div class='flex-center'>
  <div class='notes-container'>

    <% if @notes.count > 0 %>
      <% @notes.where(archived: false).each do |note| %>

        <div class='note-container' onclick='ChangeUrl("", "<%="notes/"+note.id.to_s+"-"+note.title.parameterize%>")'>
          <%= link_to(note_path(note), remote: true) do %>
            <%= image_tag note.image.url(:thumb), class:"image" if note.image.present? %>
            <div class='note-container-text'>
              <p class="mobile-font note-btn-font"> <%= truncate(note.title, length: 50) %> </p>
            </div>
          <% end %>
          <%= render partial: 'notes/overlay_buttons', locals: {note: note} %>
        </div>
      <% end %>
    <% else %>
      <% if @user == current_user %>
        <div>
          <div class="no-content-message" id="feed-no-data"></div>
          <div class="desc-content">
            <h1 class="black-heading">Follow lifelong learners from across the world.</h1>
            <p class="italic-text">You choose which friends to follow and you'll never miss their Picnotes.</p>
            <p class="mp-0">
              <button type='button' style='border: none;background: transparent;' data-toggle='modal' data-target='#newNoteModal' data-whatever='@mdo'> <span class="circular-new">+</span> Get Started</button>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
