<h1 class = "text-center" style = 'margin-top: 20px;'> Sign In </h1>

<div class = "creation_form">
  <%= simple_form_for :session, url: session_path do |f| %>

    <%= f.label 'Email (required)' %>
    <%= f.input :email, label: false %>

    <%= f.label 'Password (required)' %>
    <%= f.input :password, label: false %>
    <%= link_to "(forgot password)", new_password_reset_path %>

    <div class = 'form-btn-container'>
      <%= f.button :submit, 'Sign In', :class => 'blue-appearance-btn' %>
    </div>

  <% end %>
</div>
