<div class = "creation_form">
<%= simple_form_for @note do |form| %>
  <%= form.label :title, 'Title (Required)' %>
  <%= form.input :title, label: false %>
  <div class = 'image-upload-box'>
    <%= form.label :image, 'File Upload' %>
    <div class = 'image-upload text-center'>
      <label for="file-input">
        <%= image_tag 'file-upload.png', class: 'logo-image', id: 'img_prev' %>
        <p>Click to Upload Image </p>
      </label>
      <%= form.file_field :image, :class => 'dropzone', id: 'file-input', :onchange => 'readURL(this)' %>
      <script>
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
              $('#img_prev')
                .attr('src', e.target.result)
                .width(200)
                .height(200)
                .style.objectFit = 'contain';
            };

            reader.readAsDataURL(input.files[0]);
          }
        }
      </script>
    </div>
    <%= form.label :remote_image_url, 'or Image URL' %>
    <%= form.input :remote_image_url, label: false %>
    <p style = 'color: red;'> Must include an image either through uploading or by link </p>
  </div>

  <%= form.label :body, 'Notes (Required)' %>
  <%= form.input :body, maxlength: 650, label: false, input_html: { value: 'No more 650 characters'} %>
  <%= form.label :tag_list, 'Tags' %>
  <%= form.input :tag_list, value: form.object.tag_list.to_s, label: false %>
  <div class = 'form-btn-container text-center'>
    <%= form.button :submit, :class => 'blue-appearance-btn' %>
  </div>
<% end %>
</div>
