<div id="picnote-modal">
<script>
  document.getElementById("defaultOpen").click();

  function openTab(evt, tabName) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
  }

  function openReference(tab){
    var i;
    var x = document.getElementsByClassName('click-reference');
    for (i = 0; i < x.length; i++) {
      x[i].style.display = 'none';
      x[i].style.borderBottom = 'thick #FFF solid';
    }
    document.getElementById(tab).style.display = 'block';
  }

  $('#hamburger-menu').click(function(){
    $('#note_menu').toggle('.hidden')
  })
</script>
<!-- <%= note.title %> -->
<div id="test-modal" class="modal fade" role="dialog" data-backdrop="">
  <div style = "display: flex; align-items: center;">
    <div class='note-arrow'>
      <% if @previous_note %>
       <!-- data: {toggle: 'modal', dismiss: 'modal'}, -->
        <%= link_to image_tag('leftarrownew.png', alt: 'Previous Note', style: 'margin-right: -5rem'), note_path(@previous_note.title_slug, tag: params.dig(:tag), picnotes_type: params.dig(:picnotes_type)), remote: true %>
      <% end %>
    </div>

    <div class="modal-dialog modal-lg" style="max-height: 895px; max-width: 1056px; margin-top: 6% !important;">
      <div class="modal-content">
        <div class="modal-header-note" style="margin-top: 2%; margin-left:3%;">
          <div class="note-avatar" style="width: 60%;" >
            <% if note&.user&.avatar? %>
              <%= image_tag note&.user&.avatar.url(:thumb), class: 'avatar' %>
            <% else %>
              <%= image_tag 'myavtar.png', class: 'avatar' %>
            <% end %>
            <div class="note-author">
              <h6>
                <% if current_user == note.user %>
                  <p><%= link_to "#{note.user.first_name} #{note.user.last_name}", feed_index_path, class: 'blue-appearance-btn' %></p>
                <% else %>
                  <p><%= link_to "#{note.user.first_name} #{note.user.last_name}", user_path(note.user), class: 'blue-appearance-btn' %></p>
                  <p> <%= render '/components/follow_button_details_page', :user => note.user %> </p>
                <% end %>
              </h6>
              <button style="position: absolute; top: 0px;right: 0px; margin-right: 10px;" type="button"  class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
          </div>
          <div style="width: 40%;display: flex;padding: 0px 1%;align-items: center;gap: 6px;">
            <div style="width: 50%;">
              <% if user_signed_in? %>
                <button class="btn btn-add-folder" data-toggle="modal" data-target="#add_note_to_folder" style="margin-top: 2%;">
                  <%= image_tag "folder-add-2.png", style: "margin-right:10px; height: 25px; width: 25px;" %> Add to Folder
                </button>
              <% else %>
                <%= link_to new_user_path, class: "btn btn-add-folder", style: "margin-top: 2%;" do %>
                  <%= image_tag "folder-add-2.png", style: "margin-right:10px; height: 25px; width: 25px;" %> Add to Folder
                <% end %>
              <% end %>
            </div>
            
            <div style="width: 50%;margin-top: 2%;margin-left: 4%;gap: 8px;display: flex;align-items: center;">
              <% if user_signed_in? %>
                <% unless current_user.favorited_notes.exists?(id: @note.id) %>
                  <span class="favorites-count" style="padding: 0px;">
                    <%= link_to fa_icon('heart'), favorite_notes_path(note_id: @note), remote: true, class: 'grey_love love_iconss', method: :post, style: 'display: inline-block; margin-bottom: 5px;' %>
                  </span>
                <% else %>
                  <span id="favorites-count-<%= @note.id %>" class="favorites-count">
                    <%= link_to fa_icon('heart'), favorite_note_path(@note), remote: true, class: 'orange_love love_iconss', method: :delete %>
                  </span>
                <% end %>
              <% else %>
                <%= link_to new_user_path do %>
                <%= fa_icon('heart', class: 'grey_love love_iconssss', style: 'display: inline-block; margin-bottom: 5px;') %>
                <% end %>
              <% end %>
          
              <% if user_signed_in? %>
                <%= link_to "http://www.twitter.com/share?url=http://www.picnotes.org/notes/#{note.id}", target: :_blank, class: 'blue-appearance-btn', style: 'margin-left: 7px;' do %>
                  <%= image_tag "red-folder.png", style: "border: 1px solid #707070; border-radius: 50%; padding: 5px; margin-right:8px; margin-bottom: 5%;height: 36px;" %>
                <% end %>
              <% else %>
                <%= link_to new_user_path, class: 'blue-appearance-btn', style: 'margin-left: 7px;' do %>
                  <%= image_tag "red-folder.png", style: "border: 1px solid #707070; border-radius: 50%; padding: 5px; margin-right:8px; margin-bottom: 5%;height: 36px;" %>
                <% end %>
              <% end %>
          
              <% if user_signed_in? %>
                <%= link_to comment_section_note_path(id: note.id), data: { toggle: "modal", target: "#comment-modal#{note.id}", previous_modal: "#test-modal" } do %>
                  <%= fa_icon 'comment', class: "comment-icon-ed-tracker#{note.id}", style: "color: #BC171D; border: 1px solid #707070; border-radius: 50%; padding: 5px; margin-right: 20px; font-size: 23px;" %>
                <% end %>
              <% else %>
                <%= link_to new_user_path do %>
                  <%= fa_icon 'comment', class: "comment-icon-ed-tracker#{note.id}", style: "color: #BC171D; border: 1px solid #707070; border-radius: 50%; padding: 5px; margin-right: 20px; font-size: 23px;" %>
                <% end %>
              <% end %>
            </div>
          </div>
          
          
        </div>
              
        <div class="modal-body" style="padding: 1rem 0px !important;">
          <div class="row">
            <div class="col-md-6">
              <% if @note.image.present? %>
                <%= image_tag @note.image.url(:large), class: "note-image", style: "border-radius: 10px;" %>
              <% end %>
            </div>
            <div class="col-md-6">
              <h1 class="note-title"><%= note.title %></h1>
              <p class="note-content"><%= note.body %></p>
              <div class="tags">
                <% note.tags.each do |tag| %>
                  <span style="color: #BC171D; background-color: white;><%= tag.name %></span>
                <% end %>
              </div>
              <div class="actions">
                <div class="like-container" style="width: 400px; height: 48px;">
                  <% if user_signed_in? && can?(:like, @note) && can?(:dislike, @note) %>
                    <div class='like-tab like-color-note'>
                      <%= link_to like_note_path(@note), remote: true, class: 'white-btn like-tab', method: :put do %>
                        <%= image_tag "like-green.png" %> <span class='upvotes-count', style="color: #17BC6D;"><%= @note.get_upvotes.size %> </span>
                      <% end %>
                    </div>
                    <div class='like-tab dislike-color-note'>
                      <%= link_to dislike_note_path(@note), remote: true, class: 'white-btn like-tab', method: :put do %>
                        <%= image_tag "dislike-red.png" %> <span class='downvotes-count', style="color: #BC171D;"><%= @note.get_downvotes.size %> </span>
                      <% end %>
                    </div>

                  <% else %>
                    <div class='like-tab like-color-note'>
                      <%= image_tag "like-green.png" %> <span style="color: #17BC6D;">  <%= @note.get_upvotes.size %></span>
                    </div>
                    <div class='like-tab dislike-color-note'>
                      <%= image_tag "dislike-red.png" %>  <span style="color: #BC171D;"> <%= @note.get_downvotes.size %></span>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
               <div class="resources">
                <div style="display:flex;">
                  <h2 style="margin-right:60px;">Resources</h2>
                  <div class='reference-tabs'>
                    <button class='reference-tab-note' style='font-size: 13px;' onclick='openReference("Textbooks")'> Book: <%= @textbooks.count %> </button>
                    <button class='reference-tab-note' style='font-size: 13px;' onclick='openReference("Videos")'> Video: <%= @videos.count %> </button>
                    <button class='reference-tab-note' style='font-size: 13px;'  onclick='openReference("Papers")'> Article: <%= @papers.count %> </button>
                    <button class='reference-tab-note' style='font-size: 13px;' onclick='openReference("Sources")'> Image: <%= @sources.count %> </button>
                  </div>
                </div>
                                
                <div id='Textbooks' class='click-reference' style='display: block;'>
                  <%= render @textbooks %>
                </div>
                                
                <div id='Videos' class='click-reference' style='display: none;'>
                  <%= render @videos %>
                </div>
                                
                <div id='Papers' class='click-reference' style='display: none;'>
                  <%= render @papers %>
                </div>
                                
                <div id='Sources' class='click-reference' style='display: none;'>
                  <%= render @sources %>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="row" style="margin-top:30px;">
              <h4 style="font-size: 30px; font-weight: 400; line-height: 36.01px; margin-bottom:30px;">
                Related Picnotes
              </h4>
              <% if @similar.count>0 %>
                <% @similar.where(archived: false).each_slice(3) do |notes_row| %>
                  <% notes_row.each do |note| %>
                    <div class="col-lg-4 mb-4">
                      <figure class="card-picknote card-product image-containermyprofile">
                        <div class="image-containermyprofile onclick='ChangeUrl("", "<%="notes/"+note.title_slug%>")'">
                          <%= link_to(note_path(note), remote: true) do %>
                            <%= image_tag(note.image.url(:thumb), alt: note.title, :class => "image") if note.image.present? %>
                            <div class="hover-overlay related-picnote">
                              <div class="overlay-content" style="margin-bottom: -17%;">
                              
                                <p id="truncate-title" class="truncate">
                                  <%= note.title %>
                                </p>
                                <p id="truncate-name" class="truncate" style="font-size: 12px;">
                                  <%= link_to "#{note.user.first_name} #{note.user.last_name}", user_path(note.user), style: 'color: inherit; text-decoration: none;' %>
                                </p>
                              </div>
                              <div class="icons" style="display: flex; justify-content: flex-end;">
                                   <span style="display: flex; gap: 4px;">
                                  <% if user_signed_in? %>
                                    <% unless current_user.favorited_notes.exists?(id: note.id) %>
                                      <span id='favorites-count-<%= note.id %>'>
                                        <%= link_to fa_icon('heart'), favorite_notes_path(note_id: note), remote: true, class: 'grey_love love_iconss', method: :post, style: 'color: red !important;' %>
                                      </span>
                                    <% else %>
                                      <span id='favorites-count-<%= note.id %>'>
                                        <%= link_to fa_icon('heart'), favorite_note_path(note), remote: true, class: 'orange_love love_iconss', method: :delete %>
                                      </span>
                                    <% end %>
                                    <span id='add-to-folder-<%= note.id %>' style="display: flex; justify-content: center; align-items: center;  margin-left: 5%;">
                                      <%= link_to "/notes/add_note_to_folder?note_id=#{note.id}", remote: true, method: :get do %>
                                        <%= image_tag 'folder-add.png', style: 'width: 38px; height: 35px; background-color: #BC171D; border-radius: 50%;  margin-bottom: 18%;' %>
                                      <% end %>
                                    </span>
                                  <% else %>
                                    <span id='add-to-folder-<%= note.id %>'>
                                      <%= link_to new_user_path do %>
                                        <span id='favorites-count-<%= note.id %>'>
                                          <%= link_to fa_icon('heart'), favorite_notes_path(note_id: note), remote: true, class: 'grey_love love_iconss', method: :post %>
                                        </span>
                                      <% end %>
                                    </span>
                                    <span id='add-to-folder-<%= note.id %>' style="display: flex; justify-content: center; align-items: center;  margin-left: 5%;">
                                      <%= link_to "/notes/add_note_to_folder?note_id=#{note.id}", remote: true, method: :get do %>
                                        <%= image_tag 'folder-add.png', style: 'width: 38px; height: 35px; background-color: #BC171D; border-radius: 50%;  margin-bottom: 18%;' %>
                                      <% end %>
                                    </span>
                                  <% end %>
                                </span>
                              </div>
                            </div>
                           <% end %>
                        </div>
                      </figure>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>  
        </div>
      </div>
    </div>
    <div class='note-arrow'>
      <% if @next_note %>
        <%= link_to image_tag('rightarroenew.png', alt: 'Next Note', style: 'margin-left: -5rem;'), note_path(@next_note.title_slug, tag: params.dig(:tag), picnotes_type: params.dig(:picnotes_type)), remote: true %>
      <% end %>
    </div>
  </div> 
</div>


<div id="comment-modal<%= note.id %>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header" style="margin-left: 30%; border: none;">
        <div>
          <h5 class="modal-title" id="newNoteModalLabel" style="margin-left: 4%; margin-right: auto;font-size:26px;font-weight:400;">Comments</h5>
          
            <button style="position: absolute; top: 0px;right: 0px; margin-right: 0px;" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
      </div>
      <!-- Modal Body -->
      <div class="modal-body" style="padding: 0px;">
        <div class="col-12">
              
            <hr style="height: 0.1px;color: #EFEFEF;">
            <div class="title-hashtag text-left justify-content-between" style="display:flex;">
                <div class="title-hashtag text-left d-flex-comment" style="display: flex;">
                    <a class="text-decoration-none" href="#">
                    <% if note&.user&.avatar? %>
                    <%= image_tag note&.user&.avatar&.url(:thumb), class: 'avatar-image', style: 'width: 50px; height: 50px;margin-right: 20px;' %>
                    <% else %>
                    <%= image_tag(@user&.avatar&.url || 'myavtar.png', class: 'avatar-image', id: 'avatarPreview', style: 'width: 60px; height: 60px; max-width: 200px; border-radius: 50%; margin-right: 20px; padding-top: 0rem') %>
                    <% end %>
                    </a>
                    <div>
                        <h4 class="pt-4" style="padding-top: 0.5rem !important;font-size: 1.5rem;font-size:18px; color:#3F3F3F;">
                            <%
                            unless note.title[/\Ahttp:\/\//] || note.title[/\Ahttps:\/\//]
                            end
                            %>
                            <a class="blue-appearance-btn" target="_blank"><%= note.title %></a>
                        </h4>

                        <div class="count-link-commment text-left" style="display: flex;">
                          <div class="ed_tracker_likes<%= note.id %>">
                            <p class="m-0">
                              <%= likes rescue 0 %>
                                <%= image_tag 'smallheart.png' , style:"width: 16px;height: 16px;" %>
                            </p>
                          </div>
                          <div class="Comment ml-2" style="margin-top:20px; ">
                            <p class=" edtool-comments-m-0<% note.id %>">
                              <%= comments rescue 0 %>
                                <%= image_tag 'smallmsg.png' , style:"width: 16px;height: 16px;"%>
                            </p>
                          </div>
                        </div>
                    </div>

                    
    
                </div>
                <div class="title-hashtag text-left d-flex-comment" style="padding-top:10px">
                    <% if note.user == current_user %>
                      <%= image_tag 'Add-resource-edit.png', alt: 'Edit', class: 'mr-2', style: 'width: 11px; height: 11px;' %>
                        <button
                          type="button"
                          class="blue-appearance-btn"
                          data-toggle="modal"
                          data-target="#editNoteModal"
                          data-whatever="@mdo"
                          data-dismiss="modal"
                          style="font-size: 14px; margin-left: -9px;margin-right: 10px;">
                          Edit
                        </button>

                    <a href="<%= note_path(note) %>"
                        method="delete"
                        class="blue-appearance-btn"
                        style="margin-right:25px;"
                        data-confirm="Are you sure?"
                        data-method="delete">
                        <%= image_tag 'Add-resource-delete.png', style: 'height: 14px; width: 14px;' %>
                        Delete
                    </a>
    
                    <% end %>
                </div>
    
            </div>

            <div  style="display: flex;padding-top: 30px;border-radius: 20px;border: 1px solid #DCDCDC;margin: 11px;height: 56px;padding-left: 20px;">
                <p style="color:#707070;font-size:14px; ">Tags:
                <% note.tag_list.each do |tag_name| %>
                <% tag_info = get_tag_info(tag_name) %>
                <%= link_to tag_name, tag_path(id: tag_info.id), style: "color: #BC171D ;text-decoration: none;
                background-color: transparent !important;font-size:14px;" %>
                <% end %>
                </p>
              
            </div>
            
            <hr style="height: 0.1px;color: #EFEFEF;">
            <div class="row">
                <div>
                   <% if note.card_comment_likes.any? %>
                    <% note.card_comment_likes.each do |comment| %>
                        <div class"d-flex>
                            <div class="row m-0">
                                <div style="display:flex;margin-top: 20px;">
                                    <a class="text-decoration-none ed_tracker_msg_img<%= comment.id %>" href="#">
                                        <% if comment %>
                                          <% if comment&.user&.avatar? %>
                                            <%= image_tag comment&.user&.avatar&.url(:thumb), class: 'avatar-image', style: 'width: 50px; height: 50px;' %>
                                          <% else %>
                                            <%= image_tag 'avatar.png', class: '', style: "width: 60px; height: 60px;margin-right: 20px;" %>
                                          <% end %>
                                        <% else %>
                                        <%= image_tag 'avatar.png', class: '', style: "width: 60px; height: 60px;margin-right: 20px;" %>
                                        <% end %>
                                    </a>
                                    <div class="flex-grow-1 pl-2" >
                                            <div class="flex-grow-1" style="display:flex;">
                                                  <a class="text-decoration-none" href="#">
                                                      <h2 class="text-capitalize h5 mb-0" style="color:#707070;font-size:14px;"><%= comment.user.username rescue "" %>
                                                      <%= image_tag 'dot.png', class: 'avatar-image', style: 'width: 5px; height: 5px; margin-left:5px; margin-right:5px; margin-bottom:3px;' %>
                                                      <%= time_ago_in_words comment.created_at rescue "" %>
                                                      </h2>
                                                  </a>
                                            </div>
                                      <div class="">
                                      <p class="edtracker_display_comment<%= note.id %> " style="margin-top:1px ;color:#3F3F3F;font-size:14px;">
                                          <%= comment.body rescue "" %>
                                      </p>
                                    </div>
                                    <% if note.user == current_user %>
                                    <div  aria-labelledby="dropdownMenuLink2" x-placement="bottom-start" style="color:#707070;">
                                        <%= link_to 'Delete', comment_delete_note_path(id: comment.id, note_id: note.id), remote: true, method: :post, style: 'color:#707070;text_align:center; font-size:12px;' %>
                                    </div>
                                    <% end %>
                                  </div>
                                </div>
                              
    
                              
                            </div>
                            <!-- post body -->
                          
                          
                            <!-- post footer begins -->
                            <footer class="">
                                <!-- post actions -->
    
                                <!-- collapsed comments begins -->
                                <div class="collapse" id="collapseExample">
                                    <div class="card border border-right-0 border-left-0 border-bottom-0 mt-1">
                                        <!-- new comment form -->
                                        <section class="mt-3">
                                            <form action="">
                                                <div class="input-group input-group">
                                                    <input type="text" class="form-control" placeholder="Write Comment" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                    <div class="input-group-append">
                                                        <button class="btn" type="button">
                                                            <i class="fa fa-send"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </section>
                                        <!-- end of new comment form -->
                                    </div>
                                </div>
                            </footer>
                        </div>
                    <% end %>
                    <% end %>
                </div>
                <div class="col-lg-12">
                <form action="<%= create_comment_note_path(note.id) %>" method="post" accept-charset="UTF-8" data-remote="true">
                  <div class="form-group mt-3 d-flex align-items-center" style="margin-bottom: 1rem; border-radius: 50px; padding: 10px; background-color: #FFFFFF; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);height:54px;">
                      <a class="text-decoration-none" href="#">
                          <% if current_user %>
                              <% if current_user&.avatar? %>
                                  <%= image_tag current_user&.avatar&.url(:thumb), class: 'avatar-image', style: 'width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;' %>
                              <% else %>
                                  <%= image_tag 'myavtar.png', style: 'width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;' %>
                              <% end %>
                          <% else %>
                              <%= image_tag 'myavtar.png', style: 'width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;' %>
                          <% end %>
                      </a>
                      <input type="text" class="comments" name="card_comment" placeholder="Type comments..." style="border: none; background: none; outline: none; flex-grow: 1;">
                      <button type="submit" class="btn btn-modal-submit send" style="background: none; border: none; padding: 0;">
                          <%= image_tag 'send.png', alt: 'Submit', class: 'img-icon', style: 'width: 20px; height: 20px;' %>
                      </button>
                  </div>
                </form>
            
                </div>
            </div>
        </div>
     </div>
    </div>
  </div>
</div>


<div class="modal fade" id="add_note_to_folder" tabindex="-1" role="dialog" aria-labelledby="add_note_to_folder" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add_note_to_folder" style="margin-left: 20%;font-size:26px;line-height:31.21px;weight:400">Add Picnotes to Folder</h5>
        <button style="position: absolute; top: 0px;right: 0px; margin-right: -7px;" style="float: right" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

        <div class="modal-body" style="padding:20px !important;">
          <%= form_tag(note_addfolder_path(note), remote: true, id: "add_picnote_to_folder_form") do %>
            <div class="form-group">
              <div style="display:flex; justify-content:space-between; margin-left:25%;">
                <%= link_to '#', class: 'btn btn-link', data: { toggle: 'modal', target: '#newFolderModal' } do %>
                  <%= image_tag 'new-folder.png', alt: 'New Folder', style: 'margin-right: 2px; width:20px; height:20px;' %>
                  <span style="color:#BC171D;">Create new folder</span>
                <% end %>
              </div>
              <%= select_tag :folder_id, options_for_select(@folders.collect { |folder| [folder.name, folder.id] }), style: 'width: 100%; padding: 10px; border-radius: 69px;', multiple: false %>
            </div>
            <div class="form-group" style="margin-top: 30px; margin-bottom: 30px;">
              <%= submit_tag 'Add to Folder', class: 'btn btn-custom btn-block custom-btn-sm', style: 'width: 75%; height: 40px; margin-left: 15%;color:white !important;background-color: #BC171D !important; border-radius: 20px;' %>
            </div>
          <% end %>
        </div>
        <% if @folders.size == 0%>
          <div class='empty' style='justify-content: center !important; display: flex; margin-top: 16%'>
            <%= image_tag 'empty-board.png', style: 'width: 20%;margin-bottom:30px;' %>
          </div>
          <p class="empty" style="justify-content: center !important; display: flex;">You have not created any folder yet.</p>
          <button class="btn btn-custom btn-block custom-btn-sm mid-picnotes empty" data-toggle="modal" data-target="#newFolderModal">Create New Folder</button>
        <% end %>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Create New Folder Modal -->
<div class="modal fade" id="newFolderModal" tabindex="-1" role="dialog" aria-labelledby="newFolderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 450px; height: 200px; background-color: white; border-radius: 15px;">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center position-relative" style="border-bottom: none;">
        <h5 class="modal-title" id="editSessionModalLabel" style="margin-left: 25%; margin-right: auto; margin-top: 0rem;font-size:26px;line-height:31.21px;weight:400">Create New Folder</h5>
        <button style="position: absolute; top: 0px;right: 0px; margin-right: -55px; margin-top:-33px" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div>
        <%= simple_form_for Folder.new, remote: true, id: "new_folder_form" do |form| %>
          <div class="modal-body">
            <%= form.label :name, "Name" %>
            <%= form.input :name, label: false %>
          </div>
          <div class="form-group" style="margin-top: 30px; margin-bottom: 30px;">
            <%= form.button :submit, 'Save', class: 'btn btn-custom btn-block custom-btn-sm', style: 'width: 200px; height: 40px; margin-left: 20%;color:white !important;background-color: #BC171D !important; border-radius: 20px; ' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= render './modals/edit_note_modal' %>
<%= render './modals/edit_note_reference_modal' %>


<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  function kill_model() {
   
    /*
    $('#test-modal').removeClass("show");
    $('#picnote-modal').remove();
    $('.modal-backdrop').remove(); // Remove any remaining backdrop
    $('body').removeClass('modal-open'); // Remove the 'modal-open' class from the body
    $('body').css('padding-right', ''); // Reset any padding added to the body
    */
  }

  function truncateText(id, maxLength) {
    var element = document.getElementById(id);
    if (element.textContent.length > maxLength) {
      element.textContent = element.textContent.slice(0, maxLength) + '...';
    }
  }

  document.addEventListener("DOMContentLoaded", function() {
    truncateText('truncate-title', 20); // Adjust maxLength as needed
    truncateText('truncate-name', 20);  // Adjust maxLength as needed
  });


  $(document).ready(function() {
    function openPreviousModal() {
      const previousModal = $('#test-modal');
      if (previousModal.length) {
        previousModal.modal('show');
      }
    }

    $(document).on('hidden.bs.modal', function (e) {
      if ($(e.target).hasClass('modal') && $(e.target).attr('id').startsWith('comment-modal')) {
        openPreviousModal();
      }
    });
  });

</script>
<style>
.love_iconssss{
  padding: 7px;
  border-radius: 50%;
  font-size: 22px !important;
  color: #BC171D !important;
  border: 1px solid grey;
}

.modal-content {
  padding: 3px;
  padding-left:50px;
  padding-right:50px;
  
}
.mid-picnotes{
  color: white !important;
  width: 250px;
  margin-left: 70px;
  background-color: #BC171D !important;
  border-radius: 20px; 
}
.custom-modal-width {
  max-width: 80%;
}
.image-containermyprofile {
    position: relative;
    overflow: hidden;
  }
  .card-picknote {
    width: 330px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #fff;
    position: relative;
    height: 268px;
    margin-left: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .hover-text {
  margin-right: 1rem;
  font-size: 13px;
  color: white;
  font-weight: bold;
  z-index: 2;
  margin-top:0px !important;

}

.image-containermyprofile {
  position: relative;
  overflow: hidden;
}

.image-containermyprofile:hover .hover-overlay {
  opacity: 1;
}
.hover-text {
  margin-bottom:0rem;
  margin-right: 12rem;
  font-size: 20px;
  color: white;
  font-weight: bold;
  z-index: 2;
  margin-top:0px !important;
  text-decoration: none;

}
.hover-overlay {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-end; /* Align items to the bottom */
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 2;
}

.related-picnote{
 height: 35% !important;
}

.overlay-content {
  margin-bottom: -17%;
  display: flex;
  flex-direction: column; /* Stack title and name vertically */
  align-items: flex-start; /* Align items to the left */
  margin-bottom: 10px; /* Add spacing between elements */
}

.truncate {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
  color: white !important;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.icons {
  display: flex;
  gap: 10px;
  z-index: 3;
}

.icons span {
  position: relative;
  z-index: 3;
}
  .image-containermyprofile img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }

  .image-containermyprofile:hover img {
    transform: scale(1.1);
  }

.reference-tabs {
  display: flex;
  gap:5px;
}
.reference-tab-note {
    flex-basis: 33%;
    background-color: white;
    /* border: 119px; */
    /* border-bottom: thick #8b9dc3 solid; */
    border-color: gray;
    border-width: 1px;
    border-radius: 54px;
    margin-bottom: -4px;
    height: 39px;
    width: 40px;
}
.reference-tab {
  border-radius: 20px; // Make the buttons oval
  padding: 5px 15px; // Adjust padding as needed
  font-size: 14px; // Adjust font size as needed
}

.reference-tab.Add {
  background-color: #BC171D; // Use the preferred color
  color: white;
  height: 35px;
}
.modal-header-note {
  display: flex;
  align-items: center;
}

.note-avatar {
  display: flex;
  align-items: center;
}

.note-avatar .avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.note-author {
  margin-top: 14px;
}
.note-author h4 {
  margin: 0;
}

.note-image {
  width: 600px;
  /* height: 600px; */
}

.note-title {
  font-size: 40px;
  margin-top: 0;
  font-weight:400;
  line-height:48.01px;
}

.note-content {
  margin-top: 5px;
}

.tags {
  flex-wrap: wrap;
  gap: 5px;
}

.tags span {
  padding: 5px 10px;
  border-radius: 5px;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-like {
  background-color: green;
  color: white;
}

.btn-dislike {
  background-color: red;
  color: white;
}

.btn-add-folder {
  background-color: #BC171D !important;
  color: white !important;
}

.resources {
  margin-top: 30px;
}

.resources h2 {
  margin-bottom: 20px;
}

.resource-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.resource-form select,
.resource-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(33.333% - 10px);
}

.resource-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #BC171D;
  color: white;
  cursor: pointer;
}

.like-container {
  display: flex;
  margin-top: 20px;
  width:50%;
}

.like-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 2px;
}

.like-color-note {
  background-color: #17BC6D1A !important;
  color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.dislike-color-note {
  background-color: #BC171D1A;
  color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.resources {
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  /*
  width: 500px !important;
  margin: auto;
  margin-top:30px;
  */
}

.resources h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.add-button {
  background-color:#BC171D;
  color: white;
  width: 88px;
  height: 32px;
    border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.counter-button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  width: 88px;
  height: 32px;
  border-radius: 25px;
  font-size: 16px;
  cursor: default;
}

.resource-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  margin-bottom: 15px;
  width: 100%;
 
}

.input-group label {
  display: block;
}

.input-group input,
.input-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius:20px ! important;
  width: 100%;
  font-size: 16px;
}

.create-reference-button {
  background-color: #e60000;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
}

.create-reference-button:hover {
  font-weight: bold;
  font-size: medium;
}

.input-group input::placeholder,
.input-group select::placeholder {
  color: #ccc;
}

</style>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    openReference("Textbooks");
  });

  function openTab(evt, tabName) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
  }

  function openReference(tab){
    var i;
    var x = document.getElementsByClassName('click-reference');
    var buttons = document.getElementsByClassName('reference-tab-note');
    for (i = 0; i < x.length; i++) {
      x[i].style.display = 'none';
      x[i].style.border = 'thick #FFF solid';
    }
    for (i = 0; i < buttons.length; i++) {
      buttons[i].style.border = 'thin gray solid';
      buttons[i].style.color = 'gray';

    }
    document.getElementById(tab).style.display = 'block';
    document.querySelector(`button[onclick='openReference("${tab}")']`).style.border = 'thin #BC171D solid';
    document.querySelector(`button[onclick='openReference("${tab}")']`).style.color = '#BC171D';

  }
  
</script>
</div>
