<div id="note-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class = 'modal-title' id = 'noteModalLabel'> <%= note.title %> | <%= note.user.username %> </h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div>
        <div class = "note-page-content">
          <div>
            <p> <%= image_tag @note.image.url(:large) if @note.image.present? %></p>

            <p>
              Favorites: <%= @note.favorites.count %>
              <% if user_signed_in? && can?(:favorite, @note)%>
                <% unless current_user.favorited_notes.exists?(id: @note.id) %>
                  <%= link_to 'Add to Favorite', favorite_notes_path(note_id: @note), method: :post %>
                <% else %>
                  <%= link_to 'Remove from Favorite', favorite_note_path(@note), method: :delete %>
                <% end %>
              <% end %>
            </p>

            <div class="select-board">
              <h3>Choose your board</h3>
              <%= form_tag(note_path(@note), {:method => 'get'}) do |f| %>
                  <select name="board_id" id="board_id">

                      <!-- Select a board -->
                      <option value="" <%= !@board ? "selected" : "" %>>SELECT A board</option>

                      <% @boards.each do |w| %>
                          <option value="<%=w.id %>" <%= "#{w.id}" === @board ? "selected" : "" %>><%=w.name%></option>
                      <% end %>
                  </select>

                  <%= submit_tag('Update', :name => nil) %>
              <% end %>
            </div>

          </div>

          <div>
            <p class = "note-page-content-text"> <%= @note.body %> </p>

            <p>
              Likes: <%= @note.likes.count %> Dislikes: <%= @note.dislikes.count %>

              <% if user_signed_in? && can?(:like, @note) && can?(:dislike, @note) %>
                <% if @like.present? %>
                  <%= link_to 'Cancel', like_path(@like), method: :delete %>
                <% elsif @dislike.present? %>
                  <%= link_to 'Cancel', dislike_path(@dislike), method: :delete %>
                <% else %>
                  <%= link_to 'Like', note_likes_path(@note), method: :post %>
                  <%= link_to 'Dislike', note_dislikes_path(@note), method: :post %>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
