<div style = 'background-color: white; z-index: 0; height: 100vw;'>
<%= render './partials/user_dashboard' %>

<div id='note-content'></div>

  <div class = "notes-container">
    <% if @searchmodel != '2' %>

      <% if @searchresult %>
        <div style = 'text-align: center; margin-bottom: 20px;'>
          <p> Results for #<%= @searchresult %> </p>
        </div>
      <% end %>
      <% @notes.each do |note| %>

        <div class = 'note-container'>
          <%= link_to(note_path(note), remote: true) do %>
            <%= image_tag note.image.url(:thumb) if note.image.present? %>
            <div class = 'note-container-text'>
              <p class = "no-look-btn mobile-font"> <%= truncate(note.title, length: 18) %> </p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>

    <div class = 'follows-container'>
      <div style = 'text-align: center; margin-bottom: 20px;'>
        <p> Results for #<%= @searchresult %> </p>
      </div>
      <% @users.each do |user| %>
        <%= link_to user_path(user) do %>
        <div class = 'follow-container'>
          <% if user.avatar? %>
            <%= image_tag user.avatar.url(:thumb), class: 'follow-image' %>
          <% else %>
            <%= image_tag 'avatar.png', class: 'follow-image' %>
          <% end %>

          <p class = 'no-look-btn' style = 'text-transform: capitalize'> <%= user.username %> </p>
          <p class = 'no-look-btn'> Notes: <%= user.notes.count %> </p>
        </div>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
