<script>
  $(window).on('load', function(){
    $('myModal').modal('show');
    console.log('hi');
  })
</script>

<div id='note-content'></div>

<% if user_signed_in? %>

<% else %>
  <%= render './modals/intro_modal' %>
<% end %>

<% if @searchmodel != '2' %>

  <% if @searchresult %>
    <div style = 'text-align: center; margin-top: 30px; width: 100%;'>
      <p> Results for #<%= @searchresult %> </p>
    </div>
  <% end %>

  <div class = 'flex-center'>
    <div class = "notes-container" style = 'margin-top: 20px;'>
      <% @notes.limit(500).find_all() do |note| %>
        <div class = 'note-container'>
          <%= link_to(note_path(note), { remote: true, title: note.title }) do %>
          <%= image_tag note.image.url(:thumb), { alt: note.title } if note.image.present? %>
          <div class = 'note-container-text'>
            <p class = "mobile-font note-btn-font"> <%= truncate(note.title, length: 40) %> </p>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<% else %>

  <div style = 'text-align: center; margin-top: 30px; width: 100%;'>
    <p> User with the name: <%= @searchresult %> </p>
  </div>

  <div class = 'flex-center'>
    <div class = "notes-container" style = 'margin-top: 20px;'>
        <% @users.each do |user| %>
            <div class = 'note-container'>
              <%= link_to user_path(user) do %>
              <% if user.avatar? %>
                <%= image_tag user.avatar.url(:thumb) %>
              <% else %>
                <%= image_tag 'avatar.png', :style => 'width: 100%;' %>
              <% end %>
              <div class = 'note-container-text' style = 'text-align: center !important;'>
                <p class = 'mobile-font note-btn-font' style = 'text-transform: capitalize'> <%= user.username %></p>
                <p class = 'mobile-font note-btn-font'> <%= user.first_name %> <%= user.last_name %> </p>
              </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%#----------------------------------------footer-------------------------------------%>


<div class="container">
  <div class="footer container-fluid">
    <div class="row footer-row ">

      <div class="col-md-8"></div>
      <div class="col-md-4"></div>
      <div class="col-md-7"></div>
      <%= link_to 'About Us', about_us_notes_path, class: 'set-font-family footer-color', style: 'text-decoration: underline;' %>&nbsp;&nbsp;
      <%= link_to 'Community Guidelines', community_guideline_notes_path, class: 'set-font-family footer-color', style: 'text-decoration: underline;' %>&nbsp;&nbsp;
      <!--     <%#= link_to 'Freelance Research', freelance_research_notes_path, class: 'set-font-family', style: 'text-decoration: underline' %>&nbsp;&nbsp;-->
      <!--        <%#= link_to 'Educational Organizations-->
<!--  ', educational_organizations_notes_path, class: 'set-font-family', style: 'text-decoration: underline' %>&nbsp;&nbsp;-->
      <%= link_to 'Terms & Conditions', terms_and_conditions_notes_path, class: 'set-font-family footer-color', style: 'text-decoration: underline;text-align: right;' %>&nbsp;&nbsp;
      <%= link_to 'Contact Us', contact_us_notes_path, class: 'set-font-family footer-color', style: 'text-decoration: underline;' %>

    </div>


  </div>
  <br>

</div>