<script>
  $(window).on('load', function(){
    $('myModal').modal('show');
    console.log('hi');
    $('#note-content').html("<%= j render 'note_modal', note: @note %>");
    $('#note-modal').modal('show');
  })
</script>

<div id='note-content'></div>

<% if user_signed_in? %>

<% else %>
  <%= render './modals/intro_modal' %>
<% end %>

<% if @searchmodel != '2' %>

  <% if @searchresult %>
    <div style = 'text-align: center; margin-top: 30px; width: 100%;'>
      <p> Results for #<%= @searchresult %> </p>
    </div>
  <% end %>

  <div class = 'flex-center'>
    <div class = "notes-container" style = 'margin-top: 20px;'>
      <% @notes.where(archived: false).each do |note| %>
        <div class = 'note-container' onclick='ChangeUrl("", "<%="notes/"+note.id.to_s+"-"+note.title.parameterize%>")'>
          <%= link_to(note_path(note), remote: true) do %>
          <%= image_tag note.image.url(:thumb), class: "image" if note.image.present? %>
          <div class = 'note-container-text'>
            <p class = "mobile-font note-btn-font"> <%= truncate(note.title, length: 40) %> </p>
          </div>
          <% end %>
          <%= render partial: 'notes/overlay_buttons', locals: {note: note} %>
        </div>
      <% end %>
    </div>
  </div>

<% else %>

  <div style = 'text-align: center; margin-top: 30px; width: 100%;'>
    <p> User with the name: <%= @searchresult %> </p>
  </div>

  <div class = 'flex-center'>
    <div class = "notes-container" style = 'margin-top: 20px;'>
        <% @users.each do |user| %>
            <div class = 'note-container'>
              <%= link_to user_path(user) do %>
              <% if user.avatar? %>
                <%= image_tag user.avatar.url(:thumb) %>
              <% else %>
                <%= image_tag 'avatar.png' %>
              <% end %>
              <p class = 'blue-appearance-btn' style = 'text-transform: capitalize'> <%= user.username %> </p>
              <p class = 'blue-appearance-btn'> Notes: <%= user.notes.count %> </p>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script>
  document.getElementById("defaultOpen").click();

  function openTab(evt, tabName) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
  }

  function openReference(tab){
    var i;
    var x = document.getElementsByClassName('click-reference');
    for (i = 0; i < x.length; i++) {
      x[i].style.display = 'none';
      x[i].style.borderBottom = 'thick #FFF solid';
    }
    document.getElementById(tab).style.display = 'block';
  }

  $('#hamburger-menu').click(function(){
    $('#note_menu').toggle('.hidden')
  })

</script>
