<% if @user == current_user %>
  <%= render './partials/user_dashboard' %>
<% else %>
  <%= render './partials/other_user_dashboard' %>
<% end %>

<div id='note-content'></div>

<div class='flex-center'>
  <div class="notes-container" class="div13">
    <% if @favorites.where(archived: false).count > 0 %>
      <% @favorites.where(archived: false).each do |note| %>
        <div class='note-container' onclick='ChangeUrl("", "<%="notes/"+note.id.to_s+"-"+note.title.parameterize%>")'>
          <%= link_to(note_path(note), remote: true) do %>
            <%= image_tag note.image.url(:thumb),alt: "image", class: "image" if note.image.present? %>
            <div class='note-container-text'>
              <p class="mobile-font note-btn-font"> <%= truncate(note.title, length: 40) %> </p>
            </div>
          <% end %>
          <%= render partial: 'notes/overlay_buttons', locals: {note: note} %>
        </div>
      <% end %>
    <% else %>
      <!-- <div class="no-content-message" id="favorite-no-data">
        <h1 class="blue-heading">Collect your favorite Picnotes.</h1>
        <p>See all the Picnotes you've liked in one place.</p>
        <p>
          <button type='button' class='div14' data-toggle='modal' data-target='#newFolderModal' data-whatever='@mdo'> <span class="circular-new">+</span> Get Started</button>
        </p>
      </div> -->
      <% if @user == current_user %>
        <div>
          <div class="no-content-message" id="favorite-no-data"></div>
          <div class="desc-content">
            <h1 class="black-heading">Collect your favorite Picnotes</h1>
            <p class="italic-text">See all the Picnotes you've liked in one place.</p>
            <p class="mp-0">
              <button type='button' class='div14' data-toggle='modal' data-target='#newFolderModal' data-whatever='@mdo'> <span class="circular-new">+</span> Get Started</button>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
