<% if @user == current_user %>
  <%= render './partials/user_dashboard' %>
<% else %>
  <%= render './partials/other_user_dashboard' %>
<% end %>
<%= render './modals/ed_tracker_modal' %>


<section>
  <div class="container pt-5">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center pt-5">
        <h6 class="heading-learning mb-0">WANT TO LEARN</h6>
        <% if @user == current_user %>
          <button type="button " class="btn" data-toggle="modal" data-whatever="@mdo" data-target="#edtrackerModal"><%= image_tag "red-plus.png",alt: "image", class: "img-plus" %>
          </button>
        <% end %>
        <% if @want_to_learn.any? %>
          <% @want_to_learn.each do |card| %>
            <div class="bg-highlight">
              <div class="status-box border-bottom-red">
                <div class="row div6" >
                  <div class="col-12">
                    <div class="dropdown text-right">
                      <div class="btn btn-status dropdown-toggle">
                        <% if card.user == current_user %>
                          <select id="comboA" class="selectWrapper div7" onchange="ed_tracker_dropdown(this,<%=card.id %>, <%= current_user.id rescue "0" %>)" s>
                            <option value="I want to learn" <%= "selected" if card.edtracker_type == "I want to learn" %>>I
                              want to learn
                            </option>
                            <option value="I'm currently learning" <%= "selected" if card.edtracker_type == "I'm currently learning" %>>I'm
                              currently learning
                            </option>
                            <option value="I learned" <%= "selected" if card.edtracker_type == "I learned" %>>I
                              learned
                            </option>
                          </select>
                        <% end %>

                      </div>
                    </div>
                    <p class="text-lorem div8"><%= link_to card.topic, comment_section_edtracker_path(id: card.id), remote: true, class:'div9' %></p>
<!--                    <p class="text-lorem div8" , sans-serif;"><%#= link_to card.topic, fetch_model_form_path(id: card.id), remote: true, class: 'div9' %></p>-->
                    <div class="text-right pb-2 div10" >
                      <div class="column">
                        <p class="btn-rating comment-icon-ed-tracker<%= card.id %> "><%= link_to current_user_comment_on_card?(card) ? fa_icon('comment') : fa_icon('comment-o'), comment_section_edtracker_path(id: card.id), remote: true %></p>
                      </div>
                      <div class="column">
                        <% if current_user_liked_card?(card) %>
                          <p class="btn-rating<%= card.id %>"> <%= link_to fa_icon('heart'), card_liked_destroy_path(edtracker_id: card), remote: true, method: :delete %> <%= card.card_likes.count %></p>
                        <% else %>
                          <p class="btn-rating<%= card.id %>"><%= link_to current_user_liked_card?(card) ? fa_icon('heart') : fa_icon('heart-o'), card_liked_path(edtracker_id: card.id), remote: true, method: :post %>  <%= card.card_likes.count %></p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center pt-5">
        <h6 class="heading-learning color-orange mb-0">CURRENTLY LEARNING</h6>
        <% if @user == current_user %>
          <button type="button " class="btn" data-toggle="modal" data-whatever="@mdo" data-target="#edtrackerModal2"><%= image_tag "orange-plus.png",alt: "image", class: "img-plus" %>
          </button>
        <% end %>
        <% if @curr_learning.any? %>
          <% @curr_learning.each do |card| %>
            <div class="bg-highlight">
              <div class="status-box border-bottom-orange">
                <div class="row div6">
                  <div class="col-12">
                    <div class="dropdown text-right">
                      <div class="btn btn-status dropdown-toggle">
                        <% if card.user == current_user %>
                          <select id="comboA" class="selectWrapper" onchange="ed_tracker_dropdown(this,<%=card.id %>, <%= current_user.id  rescue '0'%>)" class="div12">
                            <!--                      <option value="Choose to Option">Choose A Status</option>-->
                            <option value="I want to learn" <%= "selected" if card.edtracker_type == "I want to learn" %>>I
                              want to learn
                            </option>
                            <option value="I'm currently learning" <%= "selected" if card.edtracker_type == "I'm currently learning" %>>I'm
                              currently learning
                            </option>
                            <option value="I learned" <%= "selected" if card.edtracker_type == "I learned" %>>I
                              learned
                            </option>
                          </select>
                        <% end %>
                      </div>
                    </div>
                    <p class="text-lorem div8", sans-serif;"><%= link_to card.topic, comment_section_edtracker_path(id: card.id), remote: true, class: "div9" %></p>
                    <div class="text-right pb-2 div10">
                      <div class="column">
                        <p class="btn-rating comment-icon-ed-tracker<%= card.id %> "><%= link_to current_user_comment_on_card?(card) ? fa_icon('comment') : fa_icon('comment-o'), comment_section_edtracker_path(id: card.id), remote: true %></p>
                      </div>
                      <div class="column">
                        <% if current_user_liked_card?(card) %>
                          <p class="btn-rating<%= card.id %>"> <%= link_to fa_icon('heart'), card_liked_destroy_path(edtracker_id: card), remote: true, method: :delete %> <%= card.card_likes.count %></p>
                        <% else %>
                          <p class="btn-rating<%= card.id %>"><%= link_to current_user_liked_card?(card) ? fa_icon('heart') : fa_icon('heart-o'), card_liked_path(edtracker_id: card.id), remote: true, method: :post %>  <%= card.card_likes.count %></p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center pt-5">
        <h6 class="heading-learning color-green mb-0">LEARNED</h6>
        <% if @user == current_user %>
          <button type="button " class="btn" data-toggle="modal" data-whatever="@mdo" data-target="#edtrackerModal3">
            <%= image_tag "green-plus.png",alt: "image", class: "img-plus" %>
          </button>
        <% end %>
        <% if @learned.any? %>
          <% @learned.each do |card| %>
            <div class="bg-highlight">
              <div class="status-box border-bottom-green">
                <div class="row div6" >
                  <div class="col-12">
                    <div class="dropdown text-right">
                      <div class="btn btn-status dropdown-toggle">
                        <% if card.user == current_user %>
                          <select id="comboA" class="selectWrapper" onchange="ed_tracker_dropdown(this,<%=card.id %>, <%= current_user.id rescue "0" %>)" class: "div11">
                            <!--                      <option value="Choose to Option" >Choose A Status</option>-->
                            <option value="I want to learn" <%= "selected" if card.edtracker_type == "I want to learn" %>>I
                              want to learn
                            </option>
                            <option value="I'm currently learning" <%= "selected" if card.edtracker_type == "I'm currently learning" %>>I'm
                              currently learning
                            </option>
                            <option value="I learned" <%= "selected" if card.edtracker_type == "I learned" %>>I
                              learned
                            </option>
                          </select>
                        <% end %>
                      </div>
                    </div>
                    <p class="text-lorem div8" , sans-serif;"><%= link_to card.topic, comment_section_edtracker_path(id: card.id), remote: true, class: "div9" %></p>
                    <div class="text-right pb-2 div10" >
                      <div class="column">
                        <p class="btn-rating comment-icon-ed-tracker<%= card.id %> "><%= link_to current_user_comment_on_card?(card) ? fa_icon('comment') : fa_icon('comment-o'), comment_section_edtracker_path(id: card.id), remote: true %></p>
                      </div>
                      <div class="column">
                        <% if current_user_liked_card?(card) %>
                          <p class="btn-rating<%= card.id %>"> <%= link_to fa_icon('heart'), card_liked_destroy_path(edtracker_id: card), remote: true, method: :delete %> <%= card.card_likes.count %></p>
                        <% else %>
                          <p class="btn-rating<%= card.id %>"><%= link_to current_user_liked_card?(card) ? fa_icon('heart') : fa_icon('heart-o'), card_liked_path(edtracker_id: card.id), remote: true, method: :post %>  <%= card.card_likes.count %></p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>



<div id="card">
</div>
<!--These scripts is used for ed_tracker_dropdown and notes card modal request sent to the edtracker controller methods-->
<script>
    function ed_tracker_dropdown(Object, id, current_user_id) {
        var value = Object.value;
        var id = id;
        $.ajax({
            url: "/update_status",
            type: "POST",
            dataType: "json",
            crossDomain: true,
            data: {
                status: value,
                edtracker_id: id,
                current_user_id: current_user_id
            },
            success: function (request) {
                location.reload();
            },
            error: function (xhr) {
                alert("Please login first!");
            }
        });
    }

</script>

