<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg pdf-modal">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" onclick='ChangeUrlForEdFluencers("ed_fluencers", "/edfluencers")' aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4 col-lg-4 pdf-box-left">
            <%= image_tag @interview.image_url,alt: "image" %>
            <span class="pdf-box-name">
              <%= get_fullname @interview%>
            </span>
            <% if @interview.website.present? %>
              <a class="website_link" href="<%= @interview.website%>" target="_blank">Website</a>
            <% end %>  
            <div class="social_icons">
              <% if  @interview.facebook.present? %>
                <a href="<%= @interview.facebook%>" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
              <% end %>  
              <%if  @interview.linkedIn.present? %>
                <a href="<%= @interview.linkedIn%>" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <% end %>  
              <%if @interview.twitter.present? %>
                <a href="<%= @interview.twitter%>" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <%end%>
            </div>
            <!-- <button class="btn btn-secondary btn-block"><%= @interview.facebook %></button> -->
          </div>
          <div class="col-md-8 col-lg-8 " style="text-align: center;">
            <% if @interview.article.present? %>
              <div class="pdf-right-box">
                <%= @interview.article.html_safe %>
              </div>
            <% end %>  
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick='ChangeUrlForEdFluencers("ed_fluencers", "/edfluencers")' data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>