<% if current_user == @user && current_user != nil && @user != nil && current_user.id == @folder.user_id %>
  <%= render './partials/user_dashboard' %>
  <div style='text-align: center;'>
    <p> Folder Name: <strong> <%= @folder.name %> </strong></p>
    <%= link_to('Delete', folder_path(@folder), class: 'blue-appearance-btn', data: {confirm: 'Are you sure?'}, method: :delete) %>
  </div>
<% else %>

  <%= render './partials/other_user_dashboard' %>
  <div style='text-align: center;'>
    <p> Folder Name: <strong> <%= @folder.name %> </strong></p>
    <%#= link_to('Delete', folder_path(@folder), class: 'blue-appearance-btn', data: {confirm: 'Are you sure?'}, method: :delete) %>
  </div>
<% end %>

<div id='note-content'></div>

<div class='flex-center'>
  <div class="notes-container" style='margin-top: 20px;'>
    <% @folder.notes.where(archived: false).each do |note| %>
      <div class='note-container' onclick='ChangeUrl("", "<%="notes/"+note.id.to_s+"-"+note.title.parameterize%>")'>
        <%= link_to(note_path(note), remote: true) do %>
          <%= image_tag note.image.url(:thumb), class: "image" if note.image.present? %>
          <div class='note-container-text'>
            <p class="mobile-font note-btn-font"> <%= truncate(note.title, length: 40) %> </p>
          </div>
        <% end %>
        <%= render partial: 'notes/overlay_buttons', locals: {note: note} %>
      </div>
    <% end %>
  </div>
</div>
