<div class="modal fade show" id="comment-modal<%= card.id %>" tabindex="-1" role="dialog" aria-labelledby="NoteModalLabel" style=" padding-right: 15px;">
  <div class="modal-dialog custom-mod modal-size" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="img-modal" style="text-align: center">
            <%if card.edtracker_type == "Learned" %>
              <h3 style="color: #6fb145"> <%= card.edtracker_type  %></h3>
            <%elsif card.edtracker_type == "Currently Learning" %>
              <h3 style="color: #f1874b;"> <%= card.edtracker_type  %></h3>
          <%elsif card.edtracker_type == "Want To Learn" %>
              <h3 style="color: red"> <%= card.edtracker_type  %></h3>
          <%end%>
          </div>

          <div class="title-hashtag text-left mt-4 d-flex">
            <a class="text-decoration-none" href="#">
              <% if card.user.avatar? %>
                <%= image_tag card.user.avatar.url(:thumb), class: 'avatar-image', style: 'width: 50px; height: 50px;margin-right: 20px;' %>
              <% else %>
                <%= image_tag 'avatar.png', class: '', style: 'width: 60px;  height: 60px;margin-left: 0px;border-radius: 50%;' %>
              <% end %>
            </a>
            <h4 class="pt-4" style="padding-top: 0.5rem !important;font-size: 1.5rem;"><%= card.topic %></h4>

          </div>
          <div class="count-link-commment text-left d-flex mt-3">
            <div class="ed_tracker_likes<%=card.id%>"> <p class="m-0" style="font-family: 'Philosopher', sans-serif;"> <%= likes rescue 0 %> Likes</p>
            </div>
            <div class="Comment ml-3">
              <p class="ed_tracker_comments<%=card.id%>" style="font-family: 'Philosopher', sans-serif;"><%= comments  rescue 0 %> Comments</p></div>
          </div>
          <div class="row">
            <div class="col-lg-9 mt-2">
              <div class="row">
                <div class="col-lg-12">

                  <form action="/create_comment?id=<%= card.id%>" method="post" accept-charset="UTF-8" data-remote="true">
                    <div class="form-group mt-3 d-flex" style="margin-bottom: 1rem;">
                      <a class="text-decoration-none" href="#">
                        <% if current_user.avatar? %>
                          <%= image_tag card.user.avatar.url(:thumb), class: 'avatar-image', style: 'width: 50px; height: 50px;margin-right: 20px;' %>
                        <% else %>
                          <%= image_tag 'avatar.png', class: '', style: "width: 60px; height: 60px;margin-right: 20px;"  %>
                        <% end %>
                      </a>

                      <input type="text" class="form-control col-form-control comments" name="card_comment" placeholder="Type Comments">
                      <button type="submit" class="btn btn-modal-submit send"><i class="fa fa-paper-plane" style="color: white !important;"></i></button>
                    </div>
                  </form>
                </div>
              </div>
              <% if card.card_comment_likes.any? %>
              <section class="card pb-2 custom">
                <div class="border comment-card p-2">
                  <!-- post header -->
                  <div class="row m-0">
                    <div class="">
                      <a class="text-decoration-none ed_tracker_msg_img<%=card.id %>" href="#">
                        <% if card.card_comment_likes.any? %>
                          <% if card.card_comment_likes.last.user.avatar? %>
                            <%= image_tag card.card_comment_likes.last.user.avatar.url(:thumb), class: 'avatar-image', style: 'width: 50px; height: 50px;' %>
                          <% else %>
                            <%= image_tag card.card_comment_likes.last.user.avatar.url(:thumb), class: 'avatar-image', style: 'width: 50px; height: 50px;' %>
                          <% end %>
                          <%else%>
                          <%= image_tag 'avatar.png', class: '', style: "width: 60px; height: 60px;margin-right: 20px;" %>
                        <% end %>
                      </a>
                    </div>
                    <div class="flex-grow-1 pl-2">
                      <a class="text-decoration-none" href="#">
                        <h2 class="text-capitalize h5 mb-0" style="font-family: 'Philosopher', sans-serif;"><%= card.card_comment_likes.last.user.username rescue "" %></h2>
                      </a>
                      <p class="small text-secondary m-0 mt-1" style="font-family: 'Philosopher', sans-serif;"><%= time_ago_in_words card.card_comment_likes.last.created_at rescue "" %></p>
                    </div>

                    <div class="dropdown">
                      <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-chevron-down"></i>
                      </a>

                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 22px, 0px);">
                        <a class="dropdown-item text-primary" href="#">Edit</a>
                        <a class="dropdown-item text-primary" href="#">Delete</a>
                      </div>
                    </div>
                  </div>
                  <!-- post body -->
                  <div class="">
                    <p class="edtracker_display_comment<%=card.id%> my-2">
                      <%= card.card_comment_likes.last.body   rescue "" %>
                      <!--                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis sem, dictum id bibendum eget, malesuada ut massa.-->
                    </p>
                  </div>
                  <hr class="my-1">
                  <!-- post footer begins -->
                  <footer class="">
                    <!-- post actions -->
                    <div class="">
                      <ul class="list-group list-group-horizontal">
                        <li class="list-group-item flex-fill text-center p-0 px-lg-2 border border-0">
                          <a class="small text-decoration-none" href="#" style="font-family: 'Philosopher', sans-serif;font-size: 102%; color: #007bff ;"><i class="fa fa-heart"></i>
                            likes</a>
                        </li>
                        <li class="list-group-item flex-fill text-center p-0 px-lg-2 border border-right-0 border-top-0 border-bottom-0">
                          <a class="small text-decoration-none" href="#" style="font-family: 'Philosopher', sans-serif;font-size: 102%; color: #007bff">
                            <i class="fa fa-comment"></i>  Comment(s) </a>
                        </li>
                      </ul>
                    </div>

                    <!-- collapsed comments begins -->
                    <div class="collapse" id="collapseExample">
                      <div class="card border border-right-0 border-left-0 border-bottom-0 mt-1">
                        <!-- new comment form -->
                        <section class="mt-3">
                          <form action="">
                            <div class="input-group input-group">
                              <input type="text" class="form-control" placeholder="Write Comment" aria-label="Recipient's username" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                <a class="text-decoration-none text-white btn btn-primary" href="#" role="button">Comment</a>
                              </div>
                            </div>
                          </form>
                        </section>
                        <section>
                          <div class="card p-2 mt-3">
                            <!-- comment header -->
                            <div class="d-flex">
                              <div class="">
                                <a class="text-decoration-none" href="#">
                                  <img class="profile-pic" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" width="40" height="40" alt="...">
                                </a>
                              </div>
                              <div class="flex-grow-1 pl-2">
                                <a class="text-decoration-none text-capitalize h6 m-0" href="#">Tarzan</a>
                                <p class="small m-0 text-muted">27 mins ago</p>
                              </div>
                              <div>
                                <div class="dropdown">
                                  <a class="" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-chevron-down"></i>
                                  </a>

                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                    <a class="dropdown-item text-primary" href="#">Edit</a>
                                    <a class="dropdown-item text-primary" href="#">Delete</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- comment header -->
                            <!-- comment body -->
                            <div class="card-body p-0">
                              <p class="card-text h7 mb-1">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</p>
                              <a class="card-link small" href="#"> <i class="far fa-thumbs-up"></i> 20 Like </a>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </footer>
                  <!-- post footer ends -->
                </div>
              </section>
                <%end %>

            </div>
            <div class="col-lg-3">
              <div class="tag-section text-left">
                <p style="color:black"><b>Tags</b></p><br>
                <a href="#" style="color: #007bff ;text-decoration: none;
                  background-color: transparent !important;font-family: 'Philosopher', sans-serif;"><%= card.hashtag %></a><br>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
</div>

<style>
    section.card.custom {
        box-shadow: none !important;
        width: 100%;
        text-align: left;
    }

    .comments {
        height: 60px;
    }

    .modal-dialog.custom-mod.modal-size {
        max-width: 870px;
        width: 100%;
    }

    .modal-header {
        border-bottom: 0;
    }

    .col-form-control {
        border: 1px solid grey;
        border-radius: 6px;
        padding: 10px;
    }

    img.user-img {
        border-radius: 50px;
        margin: 7px 10px 0 0px;
    }

    .col-form-control {
        border: 1px solid grey;
        border-radius: 6px;
        padding: 10px;
    }

    button.btn.btn-modal-submit.send {
        border-radius: 50px;
        width: 40px;
        height: 40px;
        margin: 12px 0 0 7px;
        padding: 0;
        position: absolute;
        right: 23px;
    }

    section.card.custom {
        box-shadow: none !important;
        width: 100%;
        text-align: left;
    }

    .comment-card {
        border-radius: 6px;
    }

    .card {
        width: 89%;
        margin: auto;
        padding: 29px 0px;
        border: none;
        webkit-box-shadow: 11px 11px 10px -1px rgba(244, 244, 244, 1);
        -moz-box-shadow: 11px 11px 10px -1px rgba(244, 244, 244, 1);
        box-shadow: 11px 11px 10px -1px rgb(244 244 244);
    }

    img.user-img {
        border-radius: 50px;
        margin: 7px 10px 0 0px;
    }

    .modal-header .close {
        color: #fff;
        padding: 0 !important;
        margin: 0rem 0rem -1rem auto !important;
        background: #000;
        border-radius: 100%;
        width: 26px;
    }

    .btn-modal-submit {
        background: #fb3c44 !important;
        color: #fff !important;
        font-size: 18px !important;
    }
</style>
