<section class="profile-head" style="    padding-top: 50px;
  padding-bottom: 50px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="profile-card">
          <div style="cursor: pointer" class="profile-img">
            <% if @user.avatar? %>
              <%= image_tag @user.avatar.url(:thumb) %>
            <% else %>
              <%= image_tag "avatar.png" %>
            <% end %>
          </div>
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
          <p><%= @user.city %></p>
          <%= render '/components/follow_button', :user => @user %>
          <button class="btn profile-btn">
            <% if @user.followers.count > 0 %>
              <%= link_to 'Followers ' + (@user.followers.count.to_s), followers_user_path(@user), class: 'blue-appearance-btn' %>
            <% else %>
              <%= 'Followers ' + (@user.followers.count.to_s) %>
            <% end %>
          </button>
          <button class="btn profile-btn">
            <% if @user.following.count > 0 %>
              <%= link_to 'Following ' + (@user.following.count.to_s), following_user_path(@user), class: 'blue-appearance-btn' %>
            <% else %>
              <%= 'Following ' + (@user.following.count.to_s) %>
            <% end %>
          </button>
          <button class="btn profile-btn">
            <% if @user.notes.count > 0 %>
              <%= link_to 'Picnotes ' + @user.notes.count.to_s, user_notes_session_path, class: 'blue-appearance-btn' %>
            <% else %>
              <%= 'Picnotes ' + @user.notes.count.to_s %>
            <% end %>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<div class='profile-dashboard'>
<!--  <div class="profile-header">-->
<!--    <div class='profile-center'>-->
<!--      <div class='text-right'>-->
        <%# if @user.avatar? %>
          <%#= image_tag @user.avatar.url(:thumb), class: 'avatar-image' %>
        <%# else %>
          <%#= image_tag 'avatar.png', class: 'avatar-image' %>
        <%# end %>
<!--        <h1 style='margin-bottom: 0;'><%#= @user.first_name %> <%#= @user.last_name %></h1>-->
        <%#= render '/components/follow_button', :user => @user %>
<!--        <p> <%#= @user.city %> </p>-->
        <%# if @user.message %>
          <%# if @user.message.length > 0 %>
<!--            <p> <%#= @user.message %> </p>-->
          <%# end %>
        <%# end %>
<!--      </div>-->
      <%# if @user.avatar? %>
      <%#= image_tag @user.avatar.url(:thumb), class: 'avatar-image' %>
      <%# else %>
      <%#= image_tag 'avatar.png', class: 'avatar-image' %>
      <%# end %>
    </div>

<!--    <div class='profile-left'>-->
<!--      <div class='margin-right-20 text-right'>-->
<!--        <p class='picnotes-font'> Followers </p>-->
        <%# if @user.followers.count > 0 %>
<!--          <p> <%#= link_to @user.followers.count, followers_user_path(@user), class: 'blue-appearance-btn' %></p>-->
        <%# else %>
<!--          <p> <%#= @user.followers.count %> </p>-->
        <%# end %>
<!--      </div>-->

<!--      <div class='margin-right-20 text-right'>-->
<!--        <p class='picnotes-font'> Following </p>-->
        <%# if @user.following.count > 0 %>
<!--          <p> <%#= link_to @user.following.count, following_user_path(@user), class: 'blue-appearance-btn' %></p>-->
        <%# else %>
<!--          <p> <%#= @user.following.count %> </p>-->
        <%# end %>
<!--      </div>-->

<!--      <div class='text-right'>-->
<!--        <p class='picnotes-font'> Picnotes </p>-->
<!--        <p> <%#= @user.notes.count %> </p>-->
<!--      </div>-->
<!--      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--      <div class='text-right'>-->
<!--        <p class='picnotes-font'>-->
          <%# if current_user %>
            <%# if Note.find_by_user_id(params[:id]) %>
              <%#= link_to(user_chats_path(current_user, :other_user => params[:id]), method: :post) do %>
<!--                <i class='fa fa-envelope' style='font-size:36px'></i>-->

<!--                </p>-->
              <%# end %>
            <%# end %>
          <%# end %>
<!--          </div>-->
<!--      <div class='text-right'>-->
<!--        <p class='picnotes-font'>-->
          <%# if params[:user_id] && current_user %>
            <%# if Note.find_by_user_id(params[:user_id]) %>
              <%#= link_to(user_chats_path(current_user, :other_user => params[:user_id]), method: :post) do %>
<!--                <i class='fa fa-envelope' style='font-size:36px'></i>-->

<!--                </p>-->
              <%# end %>
            <%# end %>
          <%# end %>
<!--          </div>-->
<!--    </div>-->


<!--    <div class='profile-right'>-->
<!--      <div class='text-right'>-->
<!--        <h1 style='margin-bottom: 0;'><%#= @user.first_name %> <%#= @user.last_name %></h1>-->
<!--        <p> <%#= @user.city %> </p>-->
        <%#= render '/components/follow_button', :user => @user %>
        <%# if @user.message %>
          <%# if @user.message.length > 0 %>
<!--            <p> <%#= @user.message %> </p>-->
          <%# end %>
        <%# end %>
<!--      </div>-->
      <%# if @user.avatar? %>
        <%#= image_tag @user.avatar.url(:thumb), class: 'avatar-image', style: "margin-left: 7px;" %>
      <%# else %>
        <%#= image_tag 'avatar.png', class: 'avatar-image' %>
      <%# end %>
<!--    </div>-->

  <div class="profile-menu">
    <h2 style="font-size:19px">  <%= link_to 'Feed', feed_index_path(user_id: @user), class: "#{cp(feed_index_path)} profile-links" %> </h2>
    <h2 style="font-size:19px"> <%= link_to 'Picnotes', user_path(id: @user), class: "#{cp(user_path(id: @user))} profile-links" %>
      <span class='note-count'> <%= @user.notes.where(archived: false).count %> </span></h2>
    <h2 style="font-size:19px"> <%= link_to 'Folders', folders_path(user_id: @user), class: "#{cp(folders_path(user_id: @user))} profile-links" %>
      <span class='note-count'> <%= @user.folders.count %> </span></h2>
    <h2 style="font-size:19px"> <%= link_to 'Faves', favorites_path(user_id: @user), class: "#{cp(favorites_path(user_id: @user))} profile-links" %>
      <span class='note-count'> <%= @user.favorited_notes.where(archived: false).count %> </span></h2>
    <h2 style="font-size:19px"> <%= link_to 'EdTracker', new_edtracker_path(user_id: @user), class: "#{cp(new_edtracker_path)} profile-links" %></h2>
    <h2 style="font-size:19px"> <%= link_to 'EdTools', new_myedtool_path(user_id: @user), class: "#{cp(new_myedtool_path)} profile-links" %></h2>

  </div>

  <!--  <div class = "profile-menu">-->
  <!--    <p> <%#= link_to 'Feed', feed_index_path, class: "#{cp(feed_index_path)} profile-links"%> </p>-->
  <!--    <p> <%#= link_to 'Picnotes', user_notes_session_path, class: "#{cp(user_notes_session_path)} profile-links" %> <span class = 'note-count'> <%#= @user.notes.count %> </span> </p>-->
  <!--    <p> <%#= link_to 'Faves', favorites_path, class: "#{cp(favorites_path)} profile-links" %> <span class = 'note-count'> <%#= @user.favorited_notes.count %> </span> </p>-->
  <!--  </div>-->
<style>
    .profile-card h2, .profile-card p {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        color: #181D27;
    }

    .profile-card h2 {
        margin-bottom: 15px;
    }

    .profile-card h2, .profile-card p {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        color: #181D27;
    }

    .profile-card p {
        margin-top: 0;
        margin-bottom: 15px;
    }

    section.profile-head {
        padding-bottom: 0;
    }

    section {
        padding: 18px 0;
        overflow: hidden;
    }

    .profile-card {
        padding: 30px 0 0 220px;
        position: relative;
    }

    .profile-card .profile-img {
        position: absolute;
        left: 15px;
        width: 160px;
        height: 160px;
        top: 40px;
        border: 1px solid #dcdcdc;
        padding: 10px;
    }

    .profile-card .profile-img img {
        width: 100%;
        height: 100%;
    }

    .profile-card h2, .profile-card p {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        color: #181D27;
    }

    .profile-card h2 {
        margin-bottom: 15px;
    }

    .profile-card h2, .profile-card p {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        color: #181D27;
    }

    .profile-card .profile-btn {
        background: #FFFFFF;
        border: 1px solid #3B5998;
        box-sizing: border-box;
        border-radius: 6px;
        margin-right: 15px;
        color: #3B5998;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        padding: 10px 30px;
    }
</style>