<div class = 'profile-dashboard'>
  <div class = "profile-header">
    <div class = 'profile-center'>
        <%= render '/components/follow_button', :user => @user %>
        <div class = 'content-right'>
          <h1><%= @user.username %></h1>
          <p> <%= @user.city %> </p>
        </div>
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url(:thumb), class: 'avatar-image' %>
        <% else %>
          <%= image_tag 'avatar.png', class: 'avatar-image' %>
        <% end %>
    </div>

    <div class = 'profile-left'>
      <div class = 'margin-right content-right'>
        <p class = 'picnotes-font'> Followers </p>
        <p> <%= @user.followers.count %> </p>
      </div>

      <div class = 'margin-right content-right'>
        <p class = 'picnotes-font'> Following </p>
        <p> <%= @user.following.count %> </p>
      </div>

      <div class = 'content-right'>
        <p class = 'picnotes-font'> Notes </p>
        <p> <%= @user.notes.count %> </p>
      </div>
    </div>

    <div class = 'profile-right'>
      <%= render '/components/follow_button', :user => @user %>
      <div class = 'content-right'>
        <h1><%= @user.username %></h1>
        <p> <%= @user.city %> </p>
      </div>
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url(:thumb), class: 'avatar-image' %>
      <% else %>
        <%= image_tag 'avatar.png', class: 'avatar-image' %>
      <% end %>
    </div>
  </div>

  <div class = "profile-menu">
    <p> <%= link_to 'My Feed', root_path, class: "#{cp(root_path)} profile-links"%> </p>
    <p> <%= link_to 'Notes', user_path(@user), class: "profile-links" %> <span class = 'note-count'> <%= @user.notes.count %> </span></p>
  </div>
</div>
