<% if user_signed_in? %>
  <div class = 'profile-dashboard'>
    <div class = "profile-header">
      <div class = 'profile-center'>
        <div class = 'content-right'>
          <p> <%= @user.city %> </p>
          <h1><%= @user.username %></h1>
        </div>
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url(:thumb), class: 'avatar-image' %>
        <% else %>
          <%= image_tag 'avatar.png', class: 'avatar-image' %>
        <% end %>
      </div>

      <div class = 'profile-left'>
        <div class = 'margin-right content-right'>
          <p class = 'picnotes-font'> Followers </p>
          <p> <%= @user.followers.count %> </p>
        </div>

        <div class = 'margin-right content-right'>
          <p class = 'picnotes-font'> Following </p>
          <p> <%= @user.following.count %> </p>
        </div>

        <div class = 'content-right'>
          <p class = 'picnotes-font'> Notes </p>
          <p> <%= @user.notes.count %> </p>
        </div>
      </div>

      <div class = 'profile-right'>
        <div class = 'content-right'>
          <p> <%= @user.city %> </p>
          <h1><%= @user.username %></h1>
        </div>
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url(:thumb), class: 'avatar-image' %>
        <% else %>
          <%= image_tag 'avatar.png', class: 'avatar-image' %>
        <% end %>
      </div>
    </div>


    <div class = "profile-menu">
      <p> <%= link_to 'My Feed', root_path, class: "#{cp(root_path)} profile-links"%> </p>
      <p> <%= link_to 'My Notes', user_notes_session_path, class: "#{cp(user_notes_session_path)} profile-links" %> <span class = 'note-count'> <%= @user.notes.count %> </span> </p>
      <p> <%= link_to 'My Boards', user_boards_path(current_user), class: "#{cp(user_boards_path(current_user))} profile-links" %> <span class = 'note-count'> <%= @user.boards.count %> </span> </p>
      <p> <%= link_to 'My Faves', favorites_path, class: "#{cp(favorites_path)} profile-links" %> <span class = 'note-count'> <%= @user.favorited_notes.count %> </span> </p>
    </div>
  </div>
<% end %>
