<div class=" container">

  <br>
  <!--  <br><h4> <%#= @other_user.username %></h4>-->
  <!--#app/views/chats/index.html.erb-->
  <!--<ul>-->
  <%# if @existing_chats_users %>
  <%# @existing_chats_users.each do |other_user| %>
  <%# if other_user != current_user %>
  <!--        <li>-->
  <%#= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
  <%#= other_user.username %>
  <%# end %>
  <!--        </li>-->
  <%# end %>
  <%# end %>
  <%# end %>
  <!--</ul>-->
  <!--All Users:-->


  <!--<ul>-->
  <%# User.all.each do |other_user| %>
  <%# if other_user != current_user %>
  <!--        <li>-->
  <%#= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
  <%#= other_user.username %>
  <%# end %>
  <!--        </li>-->
  <%# end %>
  <%# end %>
  <!--</ul>-->
  <%#= link_to "Logout", session_path(current_user.id), method: :delete %>







  <div id='introModelChat' id='introModal' class="container">
    <div class='introChat'>
      <button id='closeModal' class='blue-appearance-btn float-right'>
        <span aria-hidden='true'> &times; </span>
      </button>
      <div class='padding-chat text-center'>


        <div class="container-chat">

          <div class="messaging">
            <div class="inbox_msg">
              <div class="inbox_people">
                <div class="headind_srch">
                  <div class="recent_heading">
                    <% if current_user.avatar? %>
                      <%= image_tag current_user.avatar.url(:thumb), class: 'note-avatar-image .', alt: 'avatar image', style: "max-width:543%" %>
                    <% else %>
                      <%= image_tag 'avatar.png', class: 'note-avatar-image', alt: 'avatar image', style: "max-width:543%" %>
                    <% end %>
                    <%= current_user.username %>
                    <h4>
                      <%#= current_user.username%>

                    </h4>
                  </div>

                </div>
                <div class="inbox_chat">
                  <div class="chat_list active_chat">
                    <div class="chat_people">

                      <div class="chat_ib">

                        <% if @existing_chats_users %>
                          <% @existing_chats_users.each do |other_user| %>
                            <% if other_user != current_user %>
                              <div class="chat_list">
                                <div class="chat_people">
                                  <div class="chat_img">

                                    <%= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
                                      <% if Note.find_by_user_id(other_user.id) %>
                                        <% note = Note.find_by_user_id(other_user.id) %>
                                        <%# Message.where("user_id = ? AND chat_id = ? AND new = ?", current_user.id, other_user.id, TRUE) %>
                                        <% if note.user.avatar? %>
                                          <%= image_tag note.user.avatar.url(:thumb), class: 'note-avatar-image', alt: 'avatar image', style: "max-width:543%" %>
                                        <% else %>
                                          <%= image_tag 'avatar.png', class: 'note-avatar-image', alt: 'avatar image', style: "max-width:543%" %>
                                        <% end %>
                                      <% else %>
                                        <%= image_tag 'avatar.png', class: 'note-avatar-image', alt: 'avatar image', style: "max-width:543%" %>
                                      <% end %>

                                      </div>
                                      <% if "#{other_user.id}" == params[:other_user] %>
                                        <div class="chat_ib ">

                                          <span class="badge badge-pill badge-success active"><%= other_user.username %></span>
                                          <!--                                        <span class="badge badge-pill badge-info"> </span>-->
                                      <% else %>
                                        <div class="chat_ib">
                                          <span class="badge badge-pill badge-secondary"><%= other_user.username %></span>
                                      <% end %>
                                      </div>
                                    <% end %>
                                    </div>
                                    </div>
                                <%#else%>
                                <%#= image_tag 'avatar.png', class: 'note-avatar-image', alt: 'avatar image' %>
                                <%#end%>

                                <!--                              ///-->

                            <% end %>
                          <% end %>
                        <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="headind_srch ">
                  <div class="recent_heading stylish-input-group">
                    <div class="container">
                      <div class="row">
                        <div class="">
                          <div class="incoming_msg_img ">
                            <% if Note.find_by_user_id(params[:other_user]) %>
                              <% @note = Note.find_by_user_id(params[:other_user]) %>
                              <% if @note.user.avatar? %>
                                <%= image_tag @note.user.avatar.url(:thumb), class: 'note-avatar-image', alt: 'avatar image', style: "max-width:543%" %>

                                <!--                        <h5 class="col-sm-1">&nbsp;&nbsp; <%#= @note.user.username rescue'' %></h5>-->

                              <% else %>
                                <%= image_tag 'avatar.png', class: 'note-avatar-image', alt: 'avatar image', style: "max-width:543%" %>

                                <!--                        <h5 class="col-sm-1">&nbsp;&nbsp; <%#= @note.user.username rescue'' %></h5>-->


                              <% end %>
                            <% else %>
                              <%= image_tag 'avatar.png', class: 'note-avatar-image', alt: 'avatar image', style: "max-width:543%" %>


                              <!--                      <h5 class="col-sm-1">&nbsp;&nbsp; <%#= @note.user.username rescue'' %></h5>-->


                            <% end %>
                          </div>
                          <div clas="col-sm-5" style="    margin-left: 211px;
                              margin-top: -40px;"><%= User.find(params[:other_user]).username if User.find(params[:other_user]).username? %>
                            <h1 id="circle">

                            </h1>


                          </div>
                          <!--//-->


                          <!--      //-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--                <div class="srch_bar">-->
                  <!--                </div>-->
                </div>
                <div class="mesgs">
                  <%# if @note.user.avatar? %>
                  <%#= image_tag @note.user.avatar.url(:thumb), class: 'note-avatar-image', alt: 'avatar image' %>
                  <%# else %>
                  <%#= image_tag 'avatar.png', class: 'note-avatar-image', alt: 'avatar image' %>
                  <!--                <%# end %> &nbsp;<%#= @other_user.username %>-->
                  <br><br><br>
                  <div class="msg_history scroll">

                    <div class="incoming_msg scroll">
                      <div class="incoming_msg_img scroll">
                      </div>
                      <%#  note = Note.find(other_user.id)   rescue '83'%>
                      <%# if note.user.avatar? %>
                      <%#= image_tag @note.user.avatar.url(:thumb), class: 'note-avatar-image', alt: 'avatar image' %>
                      <%# else %>
                      <%#= image_tag 'avatar.png', class: 'note-avatar-image' %>
                      <%# end %>
                      <!--                    <div class="incoming_msg_img">-->
                      <!--                    </div>-->
                      <div class="received_msg scroll">
                        <div class="received_withd_msg scroll">
                          <% if @chat.messages.any? %>
                            <div class="scroll nav-justified" id="messages" style="margin-left: -40px;">

                              <%= render partial: 'messages/message', collection: @chat.messages.order(id: :asc) %>

                            </div>
                          <% else %>
                            <div id="messages" class=" scroll nav-justified">
                            </div>
                          <% end %>


                        </div>
                      </div>
                    </div>


                  </div>
                  <div class="type_msg">

                    <%= render partial: 'messages/message_form', locals: {message: @message, chat: @chat} %>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>

  <script>
      $('#closeModal').click(function () {
          $('#introModal').toggle('.hidden')
      })
  </script>
  <%# if @existing_chats_users %>
  <%# @existing_chats_users.each do |other_user| %>
  <%# if other_user != current_user %>
  <!--        <li>-->
  <%#= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
  <%#= other_user.username %>
  <%# end %>
  <!--        </li>-->
  <%# end %>
  <%# end %>
  <%# end %>
  <%# if @chat.messages.any? %>
  <!--    <div id="messages">-->

  <%#= render partial: 'messages/message', collection: @chat.messages.order(id: :asc)%>

  <!--    </div>-->
  <%#else%>
  <!--    <div id="messages">-->
  <!--    </div>-->
  <%#end%>
</div>

<%#= render partial: 'messages/message_form', locals: {message: @message, chat: @chat}%>

<!--<p><%#= link_to "Back to list of chats", user_chats_path(current_user.id) %></p>-->

<script>
    createMessageChannel();
    messageForm();

    //defaults scrolling to bottom
    // $(".scroll").scrollTop($(".scroll")[0].scrollHeight);
    $(".scroll").animate({scrollTop: $(".scroll")[0].scrollHeight});
</script>
<!--window.setInterval(function() {-->
<!--var elem = document.getElementById('data');-->
<!--elem.scrollTop = elem.scrollHeight;-->
<!--}, 5000);-->



<script>
    $("#button-9").click(function (event) {
        $.ajax({
            url: +"/chrome_user_verification/validate_user_tpin",
            type: "POST",
            crossDomain: true,
            headers: {
                "api-key": api_key,
                "secret-key": api_secret,
                "mobile-number": mobile_number,
                "client": client
            },
            data: {
                tpin: "6740957"
            },
            success: function (request) {
                $('#response-div3').empty();
                $('#response-div3').append('<div class="alert alert-success">' + JSON.stringify(request) + '</div>');
            },
            error: function (xhr) {
                $('#response-div3').empty();
                $('#response-div3').append('<div class="alert alert-danger">' + xhr.responseText + '</div>');
                arr.push(xhr.responseText + 'resend code api');

            }
        });
    });
</script>
