<div class = 'modal-header' style = 'justify-content: center;'>
  <h1 class = "hello"> Edit </h1>
</div>

<div class = 'modal-body'>
  <div class = "creation_form">
  <%= simple_form_for @user do |f| %>

    <%= f.input :first_name, label: 'First Name', class: 'half-space' %>
    <%= f.input :last_name, label: 'Last Name', class: 'half-space' %>

    <%= f.input :username %>
    <%= f.input :email %>
    
    <%= f.input :password %>
    <%= f.input :password_confirmation, label: 'Password Confirmation' %>

    <%= f.file_field :avatar %>
    <%= f.input :city %>

    <div class = 'form-btn-container text-center'>
      <%= f.button :submit, :class => 'btn-outline-dark form-btn' %>
    </div>
  <% end %>
  </div>
</div>
