<%= render './partials/user_dashboard' %>

<div class = 'flex-center'>
  <div class = "notes-container" style = 'margin-top: 20px;'>
  <% @follower.each do |user| %>
    <div class = 'text-center note-container'>
      <%= link_to user_path(user) do %>
      <% if user.avatar? %>
        <%= image_tag user.avatar.url(:thumb), class: 'follow-image' %>
      <% else %>
        <%= image_tag 'avatar.png', class: 'follow-image' %>
      <% end %>

      <p class = 'blue-appearance-btn' style = 'text-transform: capitalize'> <%= user.username %> </p>
      <p class = 'blue-appearance-btn'> Notes: <%= user.notes.count %> </p>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
