<%= render './partials/other_user_dashboard' %>

<div id='note-content'></div>

<div class = 'flex-center'>
  <div class = "notes-container">
    <% @user.notes.each do |note| %>

    <div class = 'note-container'>
      <%= link_to(note_path(note), remote: true) do %>
        <%= image_tag note.image.url(:thumb) if note.image.present? %>
        <div class = 'note-container-text'>
          <p class = "mobile-font note-btn-font"> <%= truncate(note.title, length: 25) %> </p>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>


<%#----------------------------------------footer-------------------------------------%>


<div class="container">
  <div class="footer container-fluid">
    <div class="row">

      <div class="col-md-8"></div> <div class="col-md-4"></div><div class="col-md-7"></div>
      <%= link_to 'About Us', about_us_notes_path, class: 'set-font-family', style: 'text-decoration: underline;color:white' %>&nbsp;&nbsp;
      <%= link_to 'Community Guideline
 ', community_guideline_notes_path, class: 'set-font-family', style: 'text-decoration: underline;color:white' %>&nbsp;&nbsp;
      <!--     <%#= link_to 'Freelance Research', freelance_research_notes_path, class: 'set-font-family', style: 'text-decoration: underline' %>&nbsp;&nbsp;-->
      <!--        <%#= link_to 'Educational Organizations-->
<!--  ', educational_organizations_notes_path, class: 'set-font-family', style: 'text-decoration: underline' %>&nbsp;&nbsp;-->
      <%= link_to 'Terms & Conditions', terms_and_conditions_notes_path, class: 'set-font-family', style: 'text-decoration: underline;color:white;text-align: right;' %>&nbsp;&nbsp;
      <%= link_to 'Contact Us
  ', contact_us_notes_path, class: 'set-font-family', style: 'text-decoration: underline;color:white' %>

    </div>


  </div>
  <br>

</div>