<%= render './partials/user_dashboard' %>

<div id='note-content'></div>

<div class = "notes-container"  onclick='ChangeUrl("", "<%="notes/"+note.id.to_s+"-"+note.title.parameterize%>")'>
  <% @board.notes.each do |note| %>
    <% if note.archived == false %>
    <div class = 'text-center'>
      <%= link_to(note_path(note), remote: true)  do %>
        <%= image_tag note.image.url(:thumb), class: "image" if note.image.present? %>
        <div class = 'note-container-text'>
          <p class = "blue-appearance-btn"> <%= truncate(note.title, length: 18) %> </p>
        </div>
      <% end %>
      <%end %>
      <%= render partial: 'notes/overlay_buttons', locals: {note: note} %>
    </div>
  <% end %>
</div>
