<p id="notice"><%= notice %></p>

<h1>Cardlikes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cardlikes.each do |cardlike| %>
      <tr>
        <td><%= link_to 'Show', cardlike %></td>
        <td><%= link_to 'Edit', edit_card_like_path(cardlike) %></td>
        <td><%= link_to 'Destroy', cardlike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cardlike', new_card_like_path %>
