<script>

function openReference(tab){
  var i;
  var x = document.getElementsByClassName('click-reference');
  for (i = 0; i < x.length; i++) {
    x[i].style.display = 'none';
    x[i].style.borderBottom = 'thick #fff solid';
  }
  document.getElementById(tab).style.display = 'block';
}

</script>

<div id = 'references' class = 'tabcontent'>
  <div class = 'reference-tabs'>
    <% if @textbooks.count > 0 %>
      <button class = 'reference-tab Textbooks' onclick='openReference("Textbooks")'> Books <%= @textbooks.count%>  </button>
    <% else %>
      <button class = 'reference-tab Textbooks' onclick='openReference("Textbooks")'> Book <%= @textbooks.count%>  </button>
    <%end %>
    <% if @videos.count > 0 %>
      <button class = 'reference-tab Videos' onclick='openReference("Videos")'> Videos <%= @videos.count%>  </button>
    <% else %>
      <button class = 'reference-tab Videos' onclick='openReference("Videos")'> Video <%= @videos.count%>  </button>
    <% end %>
    <% if @papers.count > 0 %>
      <button class = 'reference-tab Papers' onclick='openReference("Papers")'> Articles <%= @papers.count%>  </button>
    <% else %>
      <button class = 'reference-tab Papers' onclick='openReference("Papers")'> Article <%= @papers.count%>  </button>
    <% end %>
    <% if @sources.count > 0 %>
      <button class = 'reference-tab Sources' onclick='openReference("Sources")'> Images <%= @sources.count%>  </button>
    <% else %>
      <button class = 'reference-tab Sources' onclick='openReference("Sources")'> Image <%= @sources.count%>  </button>
    <% end %>
    <% if current_user %>
      <% if current_user.username == @note.user.username %>
      <button class = 'reference-tab Add' onclick='openReference("Add")'> Add </button>
      <% end %>
    <% end %>
  </div>

  <div id = 'reference'>
    <div id = 'Textbooks' class = 'click-reference'>
      <%= render @textbooks %>
    </div>

    <div id = 'Videos' class = 'click-reference' style = 'display: none;'>
      <%= render @videos %>
    </div>

    <div id = 'Papers' class = 'click-reference' style = 'display: none;'>
      <%= render @papers %>
    </div>

    <div id = 'Sources' class = 'click-reference' style = 'display: none;'>
      <%= render @sources %>
    </div>

    <% if current_user %>
      <% if current_user.username == @note.user.username %>
        <div id = 'Add' id = 'defaultOpen' class = 'click-reference' style = 'display: none;'>
          <div id = 'Added-Reference' style = 'text-align: center; color: #EAB38B;'>
          </div>
          <%= simple_form_for([@note, @reference], remote: true, :html => {:id => 'reference_form'}) do |f| %>
            <div>
              <%= f.input :file_type, collection: Reference::TYPE %>
              <div id="generic-content">
                <%= f.input :title %>
                <%= f.input :author %>
                <%= f.input :link %>
              </div>
              <div id="image-source-content">
                <%= f.input :image_source , as: :text, :input_html => { :cols => 5, :rows => 5 } %>
                <%= f.input :link %>
              </div>
            </div>
            <div class = 'form-btn-container text-center'>
              <%= f.button :submit, :class => 'blue-appearance-btn' %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
