<% if reference.title.length > 0 %>
  <% arr = ["v", "p", "t",]
     arr.each do |f|
  %>
    <% if reference.file_type.eql?(f) && reference.link.eql?("https://") %>
      <p> Title: <%= reference.title %> </p>
    <% elsif reference.file_type.eql?(f) %>
      <p> Title: <%= link_to (reference.title), reference.link, target: :_blank %> </p>
    <% end %>
  <% end %>
<% end %>

<% if reference.author.length > 0 %>
  <p> Author: <%= reference.author %> </p>
<% end %>
<%# if reference.link.length > 8 %>
<!--  <p>-->
    <%#= link_to (reference.link).html_safe, (reference.link).html_safe %>
<!--  </p>-->
<%# end %>
<br>
<% if current_user %>
  <% if current_user.username == @note.user.username %>
  <!-- <button
    type = 'button'
    class = 'blue-appearance-btn'
    data-toggle = 'modal'
    data-target = '#editReferenceModal'
    data-whatever = '@mdo'
    data-dismiss="modal">
    Edit
  </button> -->
  <!-- <p>
    <%= link_to 'Test', edit_reference_path(reference) %>
  </p>
  <button
    type = 'button'
    class = 'blue-appearance-btn'
    data-toggle = 'modal'
    data-target = '#editReferenceModal'
    data-whatever = '@mdo'
    data-dismiss="modal">
    Edit
  </button> -->
  <p>
    <%= link_to(
      'Delete',
      reference_path(reference),
      data: {confirm: 'Are you sure?'},
      method: :delete,
      class: 'blue-appearance-btn'
    ) %>
  </p>
  <% end %>
<% end %>
<hr/>


<script type="text/javascript">
  var links = $('a:contains(\'https://\')')
  var i;
  for (i = 0; i < links.length; i++) {
    // debugger
    if (links[i].text  == ("https://")) {
      links[i].remove();
    }
  }
</script>