<p> Title: <%= reference.title %> </p>
<p> Author: <%= reference.author %> </p>
<p> <a href = '<%= reference.link %>'> <%= reference.link %> </a> </p>
<p> Type: <%= Reference::TYPE.find {|item| item[1] == reference.file_type }[0] %> </p>
<hr/>
