<div class="modal fade" id='edtrackerModal' tabindex="-1" role="dialog" aria-labelledby="editSessionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="min-width: 550px;padding: 20px; border-radius: 2%;">
      <div class="modal-header d-flex justify-content-center position-relative" style="border-bottom: none;">
        <h5 class="modal-title text-black" id="edtrackerModal" style="margin-left: auto; margin-top: 2rem; justify-content: center; font-size:26px;font-style:Cako;font-weight:400; line-height:32px;">
          I want to learn
        </h5>
        <button style="margin-top: -130px; margin-right: -45px;" type="button" onclick="kill_model()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div style="margin-top: 1rem;">
        <%= simple_form_for Edtracker.new do |f| %>
          <div class='modal-body'>
            <%= f.label :topic, 'Topic *', style: 'color: #707070;' %>
            <%= f.input :topic, input_html: { style: 'width: 470px; height: 48px; border-radius: 28px !important;' }, label: false, required: true %> <br>
        
            <%= f.label :notes, 'Notes', style: 'color: #707070;' %>
            <%= f.input :notes, input_html: { style: 'width: 470px; height: 190px; border-radius: 12px !important;' }, label: false %>
            <%#= f.label :resources, 'Resources *' %>
            <%#= f.input :resources, label: false %>
        
            <%= f.label :link, 'Link', style: 'color: #707070;margin-top:20px;' %>
            <%= f.input :link, input_html: { style: 'width: 470px; height: 100px; border-radius: 12px !important;' }, label: false %>
        
            <%= f.label :tag_list, 'Hashtags *', style: 'color: #707070; margin-top:20px;' %>
            <%= f.input :tag_list, input_html: { style: 'width: 470px; height: 48px; border-radius: 28px !important;' },  value: f.object.hashtag.to_s, label: false %>
        
            <%= hidden_field_tag "edtracker_type", "I want to learn" %>
          </div>
        
          <div class="form-group" style="margin-top: 30px; margin-bottom: 30px;">
            <%= f.button :submit, 'Submit', class: 'btn btn-custom btn-block custom-btn-sm', style: 'width: 200px; height: 40px; margin-left: 30%; color: white !important; margin-top:-35px;' %>
          </div>
        <% end %>
      
      </div>
    </div>
  </div>
</div>






<div class="modal fade" id='edtrackerModal2' tabindex='-1' role='dialog' aria-labelledby='NoteModalLabel' aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class="modal-content" style="min-width: 550px;padding: 20px; border-radius: 2%;">
      <div class="modal-header d-flex justify-content-center position-relative" style="border-bottom: none;">
        <h5 class="modal-title text-black" id="edtrackerModal" style="margin-left: auto; margin-top: 2rem; justify-content: center; font-size:26px;font-style:Cako;font-weight:400; line-height:32px;">
          I'm currently learning        
        </h5>
        <button style="margin-top: -130px; margin-right: -45px;" type="button" onclick="kill_model()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div style="margin-top: 1rem;">
        <%= simple_form_for Edtracker.new do |f| %>
          <div class='modal-body'>
            <%= f.label :topic, 'Topic *', style: 'color: #707070;' %>
            <%= f.input :topic, input_html: { style: 'width: 470px; height: 48px; border-radius: 28px !important;' }, label: false, required: true %> <br>
        
            <%= f.label :notes, 'Notes', style: 'color: #707070;' %>
            <%= f.input :notes, input_html: { style: 'width: 470px; height: 190px; border-radius: 12px !important;' }, label: false %>
            <%#= f.label :resources, 'Resources *' %>
            <%#= f.input :resources, label: false %>
        
            <%= f.label :link, 'Link', style: 'color: #707070;margin-top:20px;' %>
            <%= f.input :link, input_html: { style: 'width: 470px; height: 100px; border-radius: 12px !important;' }, label: false %>
        
            <%= f.label :tag_list, 'Hashtags *', style: 'color: #707070; margin-top:20px;' %>
            <%= f.input :tag_list, input_html: { style: 'width: 470px; height: 48px; border-radius: 28px !important;' },  value: f.object.hashtag.to_s, label: false %>
        
            <%= hidden_field_tag "edtracker_type", "I'm currently learning" %>
          </div>
      
          <div class="form-group" style="margin-top: 30px; margin-bottom: 30px;">
            <%= f.button :submit, 'Submit', class: 'btn btn-custom btn-block custom-btn-sm', style: 'width: 200px; height: 40px; margin-left: 30%; color: white !important; margin-top:-35px;' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id='edtrackerModal3' tabindex='-1' role='dialog' aria-labelledby='NoteModalLabel' aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class="modal-content" style="min-width: 550px;padding: 20px; border-radius: 2%;">
      <div class="modal-header d-flex justify-content-center position-relative" style="border-bottom: none;">
        <h5 class="modal-title text-black" id="edtrackerModal" style="margin-left: auto; margin-top: 2rem; justify-content: center; font-size:26px;font-style:Cako;font-weight:400; line-height:32px;">
          I learned
        </h5>
        <button style="margin-top: -130px; margin-right: -45px;" type="button" onclick="kill_model()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div>
        <%= simple_form_for Edtracker.new do |f| %>
            <div class='modal-body'>
              <%= f.label :topic, 'Topic *', style: 'color: #707070;' %>
              <%= f.input :topic, input_html: { style: 'width: 470px; height: 48px; border-radius: 28px !important;' }, label: false, required: true %> <br>
          
              <%= f.label :notes, 'Notes', style: 'color: #707070;' %>
              <%= f.input :notes, input_html: { style: 'width: 470px; height: 190px; border-radius: 12px !important;' }, label: false %>
              <%#= f.label :resources, 'Resources *' %>
              <%#= f.input :resources, label: false %>
          
              <%= f.label :link, 'Link', style: 'color: #707070;margin-top:20px;' %>
              <%= f.input :link, input_html: { style: 'width: 470px; height: 100px; border-radius: 12px !important;' }, label: false %>
          
              <%= f.label :tag_list, 'Hashtags *', style: 'color: #707070; margin-top:20px;' %>
              <%= f.input :tag_list, input_html: { style: 'width: 470px; height: 48px; border-radius: 28px !important;' },  value: f.object.hashtag.to_s, label: false %>
          
              <%= hidden_field_tag "edtracker_type", "I learned" %>
            </div>
        
            <div class="form-group" style="margin-top: 30px; margin-bottom: 30px;">
              <%= f.button :submit, 'Submit', class: 'btn btn-custom btn-block custom-btn-sm', style: 'width: 200px; height: 40px; margin-left: 30%; color: white !important; margin-top:-35px;' %>
            </div>
          <% end %>
          
      </div>
    </div>
  </div>
</div>




<script>
  function kill_model() {
    window.location.reload();
  }
</script>




