<div class = "modal fade" id = 'editNoteModal' tabindex='-1' role = 'dialog' aria-labelledby = 'editNoteModalLabel' aria-hidden='true'>
  <div class = 'modal-dialog' role = 'document'>
    <div class = 'modal-content'>
      <div class = 'modal-header new-modal-header'>
        <h5 class = 'modal-title' id = 'newNoteModalLabel' style = 'color: white;'> Edit Note </h5>
        <button type = 'button' class = 'close' style = 'color: white;' data-dismiss = 'modal' aria-label = 'Close'>
          <span aria-hidden = 'true'> &times; </span>
        </button>
      </div>

      <div>
        <%= simple_form_for @note do |f| %>
          <div class = 'modal-body'>
            <%= f.input :title %>
            <%= f.input :body %>
            <%= f.label :tag_list, 'Tags (Please separate with commas)' %>
            <%= f.input :tag_list, value: f.object.tag_list.to_s, label: false %>
            <div class = 'form-flex'>
              <div class = 'form-spacer'> </div>
              <%= f.file_field :image %>
            </div>
          </div>
          <div class = 'form-btn-container text-center new-note-btn'>
            <%= f.button :submit, :class => 'white-btn btn-width' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
