<div class = "modal fade" id = 'editNoteModal' tabindex='-1' role = 'dialog' aria-labelledby = 'editNoteModalLabel' aria-hidden='true'>
  <div class = 'modal-dialog' role = 'document'>
    <div class = 'modal-content'>
      <div class = 'modal-header new-modal-header'>
        <h5 class = 'modal-title' id = 'newNoteModalLabel' style = 'color: white;'> Edit Note </h5>
        <button type = 'button' class = 'close' style = 'color: white;' data-dismiss = 'modal' aria-label = 'Close'>
          <span aria-hidden = 'true'> &times; </span>
        </button>
      </div>

      <div>
        <%= simple_form_for @note do |f| %>
          <div class = 'modal-body'>
            <%= f.label :title, 'Title (Required)' %>
            <%= f.input :title, label: false %>
            <div class = 'image-upload-box'>
              <%= f.label :image, 'File Upload' %>
              <div class = 'image-upload text-center'>
                <label for="file-input">
                  <%= image_tag 'file-upload.png', class: 'logo-image', id: 'img_prev' %>
                  <p>Click to Upload Image </p>
                </label>
                <%= f.file_field :image, :class => 'dropzone', id: 'file-input', :onchange => 'readURL(this)' %>
                <script>
                  function readURL(input) {
                    if (input.files && input.files[0]) {
                      var reader = new FileReader();

                      reader.onload = function (e) {
                        $('#img_prev')
                          .attr('src', e.target.result)
                          .width(200)
                          .height(200)
                          .style.objectFit = 'contain';
                      };

                      reader.readAsDataURL(input.files[0]);
                    }
                  }
                </script>
              </div>
              <%= f.label :remote_image_url, 'or Image URL' %>
              <%= f.input :remote_image_url, label: false %>
            </div>
            <%= f.label :body, 'Notes (Required)' %>
            <%= f.input :body, maxlength: 650, label: false %>
            <%= f.label :tag_list, 'Tags' %>
            <%= f.input :tag_list, value: f.object.tag_list.to_s, label: false %>
          </div>
          <div class = 'form-btn-container text-center new-note-btn'>
            <%= f.button :submit, :class => 'white-btn btn-width' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
