<div id='introModal'>
  <div class='introModalStyle'>
    <button id='closeModal' class='blue-appearance-btn float-right'>
      <span aria-hidden='true'> &times; </span>
    </button>
    <div class='padding-20 text-center'>
      <%= image_tag 'logo-clean.png', class: 'intro-image' %>
      <h1 class='text-grey'> Share your Knowledge </h1>
      <p class='text-grey padding-bottom-20'> Join Picnotes, a platform full of knowledge essentials. </p>
      <hr style="border: 1px solid lightgray;width: 50%;">
      <h1 class='text-red set-font-family' style="font-size: 24px;">How does it work?</h1>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
          <P class='text-grey set-font-family'>Choose a topic</P>
          <p class='text-grey padding-bottom-20 set-font-family' style='margin-top: 20px;'>
            <i class="set-font-family" style="font-size: 14px;">EX: THE CORAL TRIANGLE</i></p>
        </div>
        <div class="col-md-4">
          <p class='text-grey set-font-family'>Upload a picture</p>
          <!-- <div style="width: 258px;height: 179px;" id='div-image'>

          </div> -->
          <%= image_tag 'picnotes.png' %>
          <h1 class='text-red set-font-family desktop-easy' style="margin-top: 10px; font-size: 24px;">It's so
            easy!</h1>
        </div>
        <div class="col-md-4">
          <p class='text-grey set-font-family margin-for-mobile'>Share your notes</p>
          <p class='text-grey set-font-family' style="margin-top: 20px; font-size: 14px;">
            <i>The Coral Triangle is a 6 million km2 area that stretches from Indonesia, Malaysia, Papua New Guinea, the
              Philippines, Soloman Island and Taimor Lester.</i></p>
        </div>
        <h1 class='text-red set-font-family mobile-easy' style="margin-top: 10px; font-size: 24px; margin-left: 92px;">It's
          so easy!</h1>
      </div>
      <div style="margin-top: 15px;">
        <button
          type='button'
          class='inverse-blue-btn btn-lg'
          data-toggle='modal'
          data-target='#newSessionModal'
          data-whatever='@mdo'
        >
          Sign In
        </button>
        <button
          type='button'
          class='blue-btn btn-lg'
          data-toggle='modal'
          data-target='#newUserModal'
          data-whatever='@mdo'>
          Sign Up
        </button>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>

        <%= link_to 'About Us', about_us_notes_path, class: 'set-font-family', style: 'text-decoration: underline' %>&nbsp;&nbsp;
        <%= link_to 'Community Guidelines
', community_guideline_notes_path, class: 'set-font-family', style: 'text-decoration: underline' %>&nbsp;&nbsp;
<!--        <%#= link_to 'Freelance Research', freelance_research_notes_path, class: 'set-font-family', style: 'text-decoration: underline' %>&nbsp;&nbsp;-->
<!--        <%#= link_to 'Educational Organizations-->
<!--', educational_organizations_notes_path, class: 'set-font-family', style: 'text-decoration: underline' %>&nbsp;&nbsp;-->
        <%= link_to 'Terms & Conditions', terms_and_conditions_notes_path, class: 'set-font-family', style: 'text-decoration: underline' %>&nbsp;&nbsp;
        <%= link_to 'Contact Us
', contact_us_notes_path, class: 'set-font-family', style: 'text-decoration: underline' %>
      </div>
    </div>
  </div>
</div>

<script>
    $('#closeModal').click(function () {
        $('#introModal').toggle('.hidden')
    })
</script>
