<div class = "modal fade" id = 'newSessionModal' tabindex='-1' role = 'dialog' aria-labelledby = 'newSessionModalLabel' aria-hidden='true'>
  <div class = 'modal-dialog' role = 'document'>
    <div class = 'modal-content'>
      <div class = 'modal-header'>
        <h5 class = 'modal-title' id = 'newSessionModalLabel'> Sign In </h5>
        <button type = 'button' class = 'close' data-dismiss = 'modal' aria-label = 'Close'>
          <span aria-hidden = 'true'> &times; </span>
        </button>
      </div>

      <div class = 'modal-body'>
        <%= simple_form_for :session, url: session_path do |f| %>

          <%= f.input :email %>
          <%= f.input :password %>

          <div class = 'form-btn-container'>
            <%= f.button :submit, :class => 'btn-outline-dark form-btn' %>
          </div>

          <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>

        <% end %>
      </div>
    </div>
  </div>
</div>
