<div class = "modal fade" id = 'newUserModal' tabindex='-1' role = 'dialog' aria-labelledby = 'newUserModalLabel' aria-hidden='true'>
  <div class = 'modal-dialog' role = 'document'>
    <div class = 'modal-content'>
      <div class = 'modal-header new-modal-header'>
        <h5 class = 'modal-title' id = 'newUserModalLabel' style = 'color: white;'> Create New User </h5>
        <button type = 'button' class = 'close' data-dismiss = 'modal' aria-label = 'Close'>
          <span aria-hidden = 'true'> &times; </span>
        </button>
      </div>

      <div class = 'modal-body'>
        <%= simple_form_for User.new do |f| %>
          <div class = 'user-name'>
            <%= f.input :first_name, label: 'First Name', class: 'half-space', style: 'flex-basis: 45%;' %>
            <%= f.input :last_name, label: 'Last Name', class: 'half-space', style: 'flex-basis: 45%;' %>
          </div>

          <%= f.input :username %>
          <%= f.input :email %>
          <div class = 'user-name'>
            <%= f.input :password %>
            <%= f.input :password_confirmation, label: 'Password Confirm' %>
          </div>
          <p style = 'margin-top: -5px; font-size: 12px;'> Password must contain a capital letter and a numerical digit. </p>

          <div style = 'border: thin #EAB38B solid; padding: 10px; border-radius: 0.25em; margin-top: 10px; margin-bottom: 10px;'>
            <%= f.file_field :avatar %>
          </div>
          <%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 12, order: [:month, :day, :year] %>
          <%= f.input :city %>

          <div class = 'form-btn-container text-center'>
            <%= f.button :submit, :class => 'blue-appearance-btn' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
