<!DOCTYPE html>
<html>
  <head>
    <title>PicnotesServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class = "navbar">
      <%= link_to 'Picnotes', root_path, class: "navbar-brand" %>

      <%= form_tag(notes_path, method: :get) do %>
        <%= text_field_tag(:search, params[:search]) %>
        <%= submit_tag ('Search') %>
      <% end %>

      <div>
        <% if user_signed_in? %>

          <button
            type = 'button'
            class = 'white-btn'
            data-toggle = 'modal'
            data-target = '#newNoteModal'
            data-whatever = '@mdo'>
            <%= fa_icon('pencil') %>
          </button>

          <button
            type = 'button'
            class = 'white-btn'
            data-toggle = 'modal'
            data-target = '#sessionModal'
            data-whatever = '@mdo'>
            <%= fa_icon('user-circle') %>
          </button>

        <% else %>

          <button
            type = 'button'
            class = 'btn btn-primary'
            data-toggle = 'modal'
            data-target = '#newSessionModal'
            data-whatever = '@mdo'>
            Sign In
          </button>

          <button
            type = 'button'
            class = 'btn btn-primary'
            data-toggle = 'modal'
            data-target = '#newUserModal'
            data-whatever = '@mdo'>
            Sign Up
          </button>

        <% end %>
      </div>
    </nav>

    <div class = "nav-spacing">
    </div>

    <%= render './modals/new_session_modal' %>
    <%= render './modals/new_note_modal' %>
    <%= render './modals/new_user_modal' %>
    <% if user_signed_in? %>
      <%= render './modals/session_modal' %>
      <%= render './modals/edit_session_modal' %>
    <% end %>
    <%= yield %>
  </body>

  <script>
    $(document).on('ready page:load', function () {
      $('#post_tag_ids').chosen({
        allow_single_deselect: true,
        width: '100%'
      })
    });
  </script>
</html>
